/********************** Fonts **************************************************/

/* @ID: #01-01-01 */
/*** Heading ***/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headers);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

h1 {
  font-size: clamp(2.5rem, 5vw, 5rem);
}
h2 {
  font-size: clamp(2rem, 4vw, 3rem);
}
h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}
h4 {
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}
h5 {
  font-size: clamp(1rem, 2vw, 1.2rem);
}
h6 {
  font-size: var(--font-size-base);
}

@media only screen and (min-width: 640px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }
}

/* @ID: #01-01-02 */
/* Font Transform */
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* @ID: #01-01-03 */
/* Font Family */
.font-text {
  font-family: var(--font-text);
}
.font-headers {
  font-family: var(--font-headers);
}
.font-sans {
  font-family: var(--font-sans);
}
.font-mono {
  font-family: var(--font-mono);
}

/* @ID: #01-01-04 */
/* Font Size */
.font-xs {
  font-size: var(--font-size-xs) !important;
}

.font-s {
  font-size: var(--font-size-s) !important;
}

.font-l {
  font-size: var(--font-size-l) !important;
}

.font-xl {
  font-size: var(--font-size-xl) !important;
}

.font-xxl {
  font-size: var(--font-size-xxl) !important;
}

.font-3xl {
  font-size: var(--font-size-3xl) !important;
}

.font-250 {
  font-size: 250% !important;
}

.font-300 {
  font-size: 300% !important;
}

.font-400 {
  font-size: 400% !important;
}

.font-500 {
  font-size: 500% !important;
}

/* @ID: #01-01-05 */
/* Font Fluid **/
.font-fluid-xs {
  font-size: clamp(0.5rem, 1vh, 0.75rem);
}

.font-fluid-s {
  font-size: clamp(0.75rem, 1.5vh, 1rem);
}

.font-fluid {
  font-size: clamp(1rem, 2vh, 1.5rem);
}

.font-fluid-l {
  font-size: clamp(1.25rem, 3vh, 1.5rem);
}

.font-fluid-xl {
  font-size: clamp(1.5rem, 5vh, 2rem);
}

/* @ID: #01-01-06 */
/* Font Weight **/
.font-weight-0 {
  font-weight: lighter;
  font-weight: var(--font-weight-light) !important;
}
.font-weight-1 {
  font-weight: var(--font-weight-normal) !important;
}

.font-weight-2 {
  font-weight: var(--font-weight-medium) !important;
}

.font-weight-3 {
  font-weight: var(--font-weight-bold) !important;
}
