/* @ID: #03-01-01 */
.col,
.colr,
.row,
.rowr,
.row-col,
.row-colr,
.col-row,
.col-rowr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.col {
  flex-direction: column;
}
.colr {
  flex-direction: column-reverse;
}

.row {
  flex-direction: row;
}
.rowr {
  flex-direction: row-reverse;
}

/* @ID: #03-01-02 */
@media (max-width: 639px) {
  .xcol,
  .xcolr,
  .xrow,
  .xrowr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .xcol {
    flex-direction: column;
  }
  .xcolr {
    flex-direction: column-reverse;
  }

  .xrow {
    flex-direction: row;
  }
  .xrowr {
    flex-direction: row-reverse;
  }
}

@media (min-width: 640px) {
  .dcol,
  .dcolr,
  .drow,
  .drowr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .dcol {
    flex-direction: column;
  }
  .dcolr {
    flex-direction: column-reverse;
  }

  .drow {
    flex-direction: row;
  }
  .drowr {
    flex-direction: row-reverse;
  }
}

/* @ID: #03-01-03 */
.row-col,
.row-colr {
  flex-direction: row;
}
.rowr-col,
.rowr-colr {
  flex-direction: row-reverse;
}

.col-row,
.col-rowr {
  flex-direction: column;
}

.colr-row,
.colr-rowr {
  flex-direction: column-reverse;
}

@media (min-width: 640px) {
  .row-col {
    flex-direction: column;
  }
  .row-colr {
    flex-direction: column-reverse;
  }
  .rowr-col {
    flex-direction: column;
  }
  .rowr-colr {
    flex-direction: column-reverse;
  }

  .col-row {
    flex-direction: row;
  }
  .col-rowr {
    flex-direction: row-reverse;
  }

  .colr-row {
    flex-direction: row;
  }
  .colr-rowr {
    flex-direction: row-reverse;
  }
}

/* @ID: #03-01-04 */
.f-nowrap {
  flex-wrap: nowrap;
}

.flex1 {
  flex: 1;
}

/* @ID: #03-01-05 */
.f-gap-xs > div,
.f-gap- > div > div {
  margin: 2px;
}

.f-gap-s > div,
.f-gap-s > div > div {
  margin: 5px;
}

.f-gap > div,
.f-gap > div > div {
  margin: 10px;
}

.f-gap-l > div,
.f-gap-l > div > div {
  margin: 20px;
}

.f-gap-xl > div,
.f-gap-xl > div > div {
  margin: 30px;
}

@media (max-width: 639px) {
  .xf-gap-xs > div,
  .xf-gap-xs > div > div {
    margin: 2px;
  }

  .xf-gap-s > div,
  .xf-gap-s > div > div {
    margin: 5px;
  }

  .xf-gap > div,
  .xf-gap > div > div {
    margin: 10px;
  }

  .xf-gap-l > div,
  .xf-gap-l > div > div {
    margin: 20px;
  }

  .xf-gap-xl > div,
  .xf-gap-xl > div > div {
    margin: 30px;
  }
}

@media (min-width: 640px) {
  .df-gap-xs > div,
  .df-gap-xs > div > div {
    margin: 2px;
  }

  .df-gap-s > div,
  .df-gap-s > div > div {
    margin: 5px;
  }

  .df-gap > div,
  .df-gap > div > div {
    margin: 10px;
  }

  .df-gap-l > div,
  .df-gap-l > div > div {
    margin: 20px;
  }

  .df-gap-xl > div,
  .df-gap-xl > div > div {
    margin: 30px;
  }
}

/********************** Flex Align ********************************************/

/* @ID: #03-01-XX */
.ai-c {
  align-items: center !important;
}

.ai-fe {
  align-items: flex-end !important;
}

.ai-fs {
  align-items: flex-start !important;
}

.ai-s {
  align-items: stretch !important;
}

@media (max-width: 639px) {
  .xai-c {
    align-items: center !important;
  }

  .xai-fe {
    align-items: flex-end !important;
  }

  .xai-fs {
    align-items: flex-start !important;
  }

  .xai-s {
    align-items: stretch !important;
  }
}

@media (min-width: 640px) {
  .dai-c {
    align-items: center !important;
  }

  .dai-fe {
    align-items: flex-end !important;
  }

  .dai-fs {
    align-items: flex-start !important;
  }

  .dai-s {
    align-items: stretch !important;
  }
}

/* @ID: #03-01-XX */
.as-c {
  align-self: center !important;
}

.as-fs {
  align-self: flex-end !important;
}

.as-fe {
  align-self: flex-start !important;
}

.as-s {
  align-self: stretch !important;
}

@media (max-width: 639px) {
  .xas-c {
    align-self: center !important;
  }

  .xas-fs {
    align-self: flex-end !important;
  }

  .xas-fe {
    align-self: flex-start !important;
  }

  .xas-s {
    align-self: stretch !important;
  }
}

@media (min-width: 640px) {
  .das-c {
    align-self: center !important;
  }

  .das-fs {
    align-self: flex-end !important;
  }

  .das-fe {
    align-self: flex-start !important;
  }

  .das-s {
    align-self: stretch !important;
  }
}

/* @ID: #03-01-XX */
.ac-c {
  align-content: center !important;
}

.ac-fs {
  align-content: flex-end !important;
}

.ac-fe {
  align-content: flex-start !important;
}

.ac-s {
  align-content: stretch !important;
}

.ac-sa {
  align-content: space-around !important;
}

.ac-sb {
  align-content: space-between !important;
}

@media (max-width: 639px) {
  .xac-c {
    align-content: center !important;
  }

  .xac-fs {
    align-content: flex-end !important;
  }

  .xac-fe {
    align-content: flex-start !important;
  }

  .xac-s {
    align-content: stretch !important;
  }

  .xac-sa {
    align-content: space-around !important;
  }

  .xac-sb {
    align-content: space-between !important;
  }
}

@media (min-width: 640px) {
  .dac-c {
    align-content: center !important;
  }

  .dac-fs {
    align-content: flex-end !important;
  }

  .dac-fe {
    align-content: flex-start !important;
  }

  .dac-s {
    align-content: stretch !important;
  }

  .dac-sa {
    align-content: space-around !important;
  }

  .dac-sb {
    align-content: space-between !important;
  }
}


.jc-c {
  justify-content: center !important;
}

.jc-fe {
  justify-content: flex-end !important;
}

.jc-fs {
  justify-content: flex-start !important;
}

.jc-sa {
  justify-content: space-around !important;
}

.jc-sb {
  justify-content: space-between !important;
}

.jc-se {
  justify-content: space-evenly !important;
}

@media only screen and (max-width: 639px) {
  .xjc-c {
    justify-content: center !important;
  }

  .xjc-fe {
    justify-content: flex-end !important;
  }

  .xjc-fs {
    justify-content: flex-start !important;
  }

  .xjc-sa {
    justify-content: space-around !important;
  }

  .xjc-sb {
    justify-content: space-between !important;
  }

  .xjc-se {
    justify-content: space-evenly !important;
  }
}

@media (min-width: 640px) {
  .djc-c {
    justify-content: center !important;
  }

  .djc-fe {
    justify-content: flex-end !important;
  }

  .djc-fs {
    justify-content: flex-start !important;
  }

  .djc-sa {
    justify-content: space-around !important;
  }

  .djc-sb {
    justify-content: space-between !important;
  }

  .djc-se {
    justify-content: space-evenly !important;
  }
}

/* @ID: #03-01-XX */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-h {
  display: flex;
  justify-content: center;
}
.flex-center-v {
  display: flex;
  align-items: center;
}

@media (max-width: 639px) {
  .xflex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .xflex-center-h {
    display: flex;
    justify-content: center;
  }
  .xflex-center-v {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 640px) {
  .dflex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dflex-center-h {
    display: flex;
    justify-content: center;
  }
  .dflex-center-v {
    display: flex;
    align-items: center;
  }
}