
/********************** Padding **************************************************/

/* @ID: #03-05-XX */
.padd-0 {
    padding: 0 !important;
}

.padd-xs {
    padding: var(--space-1);
}

.padd-s {
    padding: var(--space-3);
}

.padd {
    padding: var(--space-6);
}

.padd-l {
    padding: var(--space-12);
}

.padd-xl {
    padding: var(--space-16);
}

@media (max-width: 639px) {
    .xpadd-0 {
        padding: 0 !important;
    }

    .xpadd-xs {
        padding: var(--space-1);
    }

    .xpadd-s {
        padding: var(--space-3);
    }

    .xpadd {
        padding: var(--space-6);
    }

    .xpadd-l {
        padding: var(--space-12);
    }

    .xpadd-xl {
        padding: var(--space-16);
    }
}

@media (min-width: 640px) {
    .dpadd-0 {
        padding: 0 !important;
    }

    .dpadd-xs {
        padding: var(--space-1);
    }

    .dpadd-s {
        padding: var(--space-3);
    }

    .dpadd {
        padding: var(--space-6);
    }

    .dpadd-l {
        padding: var(--space-12);
    }

    .dpadd-xl {
        padding: var(--space-16);
    }
}

/* @ID: #03-05-XX */
.padd-h-xs {
    padding-left: var(--space-1);
    padding-right: var(--space-1);
}

.padd-h-s {
    padding-left: var(--space-3);
    padding-right: var(--space-3);
}

.padd-h {
    padding-left: var(--space-6);
    padding-right: var(--space-6);
}

.padd-h-l {
    padding-left: var(--space-12);
    padding-right: var(--space-12);
}

.padd-h-xl {
    padding-left: var(--space-16);
    padding-right: var(--space-16);
}

@media (max-width: 639px) {
    .xpadd-h-xs {
        padding-left: var(--space-1);
        padding-right: var(--space-1);
    }

    .xpadd-h-s {
        padding-left: var(--space-3);
        padding-right: var(--space-3);
    }

    .xpadd-h {
        padding-left: var(--space-6);
        padding-right: var(--space-6);
    }

    .xpadd-h-l {
        padding-left: var(--space-12);
        padding-right: var(--space-12);
    }

    .xpadd-h-xl {
        padding-left: var(--space-16);
        padding-right: var(--space-16);
    }
}

@media (min-width: 640px) {
    .dpadd-h-xs {
        padding-left: var(--space-1);
        padding-right: var(--space-1);
    }

    .dpadd-h-s {
        padding-left: var(--space-3);
        padding-right: var(--space-3);
    }

    .dpadd-h {
        padding-left: var(--space-6);
        padding-right: var(--space-6);
    }

    .dpadd-h-l {
        padding-left: var(--space-12);
        padding-right: var(--space-12);
    }

    .dpadd-h-xl {
        padding-left: var(--space-16);
        padding-right: var(--space-16);
    }
}

/* @ID: #03-05-XX */
.padd-v-xs {
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
}

.padd-v-s {
    padding-top: var(--space-3);
    padding-bottom: var(--space-3);
}

.padd-v {
    padding-top: var(--space-6);
    padding-bottom: var(--space-6);
}

.padd-v-l {
    padding-top: var(--space-12);
    padding-bottom: var(--space-12);
}

.padd-v-xl {
    padding-top: var(--space-16);
    padding-bottom: var(--space-16);
}

@media (max-width: 639px) {
    .xpadd-v-xs {
        padding-top: var(--space-1);
        padding-bottom: var(--space-1);
    }

    .xpadd-v-s {
        padding-top: var(--space-3);
        padding-bottom: var(--space-3);
    }

    .xpadd-v {
        padding-top: var(--space-6);
        padding-bottom: var(--space-6);
    }

    .xpadd-v-l {
        padding-top: var(--space-12);
        padding-bottom: var(--space-12);
    }

    .xpadd-v-xl {
        padding-top: var(--space-16);
        padding-bottom: var(--space-16);
    }
}

@media (min-width: 640px) {
    .dpadd-v-xs {
        padding-top: var(--space-1);
        padding-bottom: var(--space-1);
    }

    .dpadd-v-s {
        padding-top: var(--space-3);
        padding-bottom: var(--space-3);
    }

    .dpadd-v {
        padding-top: var(--space-6);
        padding-bottom: var(--space-6);
    }

    .dpadd-v-l {
        padding-top: var(--space-12);
        padding-bottom: var(--space-12);
    }

    .dpadd-v-xl {
        padding-top: var(--space-16);
        padding-bottom: var(--space-16);
    }
}

/* @ID: #03-05-XX */
.padd-lf-xs {
    padding-left: var(--space-1);
}

.padd-lf-s {
    padding-left: var(--space-3);
}

.padd-lf {
    padding-left: var(--space-6);
}

.padd-lf-l {
    padding-left: var(--space-12);
}

.padd-lf-xl {
    padding-left: var(--space-16);
}

@media (max-width: 639px) {
    .xpadd-lf-xs {
        padding-left: var(--space-1);
    }

    .xpadd-lf-s {
        padding-left: var(--space-3);
    }

    .xpadd-lf {
        padding-left: var(--space-6);
    }

    .xpadd-lf-l {
        padding-left: var(--space-12);
    }

    .xpadd-l-xl {
        padding-left: var(--space-16);
    }
}

@media (min-width: 640px) {
    .dpadd-lf-xs {
        padding-left: var(--space-1);
    }

    .dpadd-lf-s {
        padding-left: var(--space-3);
    }

    .dpadd-lf {
        padding-left: var(--space-6);
    }

    .dpadd-lf-l {
        padding-left: var(--space-12);
    }

    .dpadd-l-xl {
        padding-left: var(--space-16);
    }
}

/* @ID: #03-05-XX */
.padd-rg-xs {
    padding-right: var(--space-1);
}

.padd-rg-s {
    padding-right: var(--space-3);
}

.padd-rg {
    padding-right: var(--space-6);
}

.padd-rg-l {
    padding-right: var(--space-12);
}

.padd-rg-xl {
    padding-right: var(--space-16);
}

@media (max-width: 639px) {
    .xpadd-rg-xs {
        padding-right: var(--space-1);
    }

    .xpadd-rg-s {
        padding-right: var(--space-3);
    }

    .xpadd-rg {
        padding-right: var(--space-6);
    }

    .xpadd-rg-l {
        padding-right: var(--space-12);
    }

    .xpadd-rg-xl {
        padding-right: var(--space-16);
    }
}

@media (min-width: 640px) {
    .dpadd-rg-xs {
        padding-right: var(--space-1);
    }

    .dpadd-r-s {
        padding-right: var(--space-3);
    }

    .dpadd-r {
        padding-right: var(--space-6);
    }

    .dpadd-rg-l {
        padding-right: var(--space-12);
    }

    .dpadd-rg-xl {
        padding-right: var(--space-16);
    }
}

/* @ID: #03-05-XX */
.padd-t-xs {
    padding-top: var(--space-1);
}

.padd-t-s {
    padding-top: var(--space-3);
}

.padd-t {
    padding-top: var(--space-6);
}

.padd-t-l {
    padding-top: var(--space-12);
}

.padd-t-xl {
    padding-top: var(--space-16);
}

@media (max-width: 639px) {
    .xpadd-t-xs {
        padding-top: var(--space-1);
    }

    .xpadd-t-s {
        padding-top: var(--space-3);
    }

    .xpadd-t {
        padding-top: var(--space-6);
    }

    .xpadd-t-l {
        padding-top: var(--space-12);
    }

    .xpadd-t-xl {
        padding-top: var(--space-16);
    }
}

@media (min-width: 640px) {
    .dpadd-t-xs {
        padding-top: var(--space-1);
    }

    .dpadd-t-s {
        padding-top: var(--space-3);
    }

    .dpadd-t {
        padding-top: var(--space-6);
    }

    .dpadd-t-l {
        padding-top: var(--space-12);
    }

    .dpadd-t-xl {
        padding-top: var(--space-16);
    }
}

/* @ID: #03-05-XX */
.padd-b-xs {
    padding-bottom: var(--space-1);
}

.padd-b-s {
    padding-bottom: var(--space-3);
}

.padd-b {
    padding-bottom: var(--space-6);
}

.padd-b-l {
    padding-bottom: var(--space-12);
}

.padd-b-xl {
    padding-bottom: var(--space-16);
}

@media (max-width: 639px) {
    .xpadd-b-xs {
        padding-bottom: var(--space-1);
    }

    .xpadd-b-s {
        padding-bottom: var(--space-3);
    }

    .xpadd-b {
        padding-bottom: var(--space-6);
    }

    .xpadd-b-l {
        padding-bottom: var(--space-12);
    }

    .xpadd-b-xl {
        padding-bottom: var(--space-16);
    }
}

@media (min-width: 640px) {
    .dpadd-b-xs {
        padding-bottom: var(--space-1);
    }

    .dpadd-b-s {
        padding-bottom: var(--space-3);
    }

    .dpadd-b {
        padding-bottom: var(--space-6);
    }

    .dpadd-b-l {
        padding-bottom: var(--space-12);
    }

    .dpadd-b-xl {
        padding-bottom: var(--space-16);
    }
}
