/* @ID: #04-03-XX */
/*** Opacity Utilities ***/
.opacity-0 { opacity: 0; }
.opacity-25 { opacity: 0.25; }
.opacity-50 { opacity: 0.5; }
.opacity-75 { opacity: 0.75; }
.opacity-100 { opacity: 1; }
.hover-opacity-75:hover { opacity: 0.75; }

@media (max-width: 639px) {
  .xopacity-0 { opacity: 0; }
  .xopacity-25 { opacity: 0.25; }
  .xopacity-50 { opacity: 0.5; }
  .xopacity-75 { opacity: 0.75; }
  .xopacity-100 { opacity: 1; }
  .xhover-opacity-75:hover { opacity: 0.75; }
}

@media (min-width: 640px) {
  .dopacity-0 { opacity: 0; }
  .dopacity-25 { opacity: 0.25; }
  .dopacity-50 { opacity: 0.5; }
  .dopacity-75 { opacity: 0.75; }
  .dopacity-100 { opacity: 1; }
  .dhover-opacity-75:hover { opacity: 0.75; }
}
