

/* @ID: #500 */
/** Null Centent ***/
.null {
    content: '';
}

/* @ID: #501 */
/** Cursor ***/
.cursor,
.pointer {
    cursor: pointer;
}

/* @ID: #502 */
/** Hoverable **/
.hoverable-s:hover {
    transform: scale(1.1);
}

.hoverable:hover {
    transform: scale(1.2);
}

.hoverable-l:hover {
    transform: scale(1.5);
}

.hoverable-xl:hover {
    transform: scale(1.8);
}

