
.padd-l-xs {
    padding-left: var(--size_xs);
}

.padd-r-xs {
    padding-right: var(--size_xs);
}

.padd-t-xs {
    padding-top: var(--size_xs);
}

.padd-b-xs {
    padding-bottom: var(--size_xs);
}


.padd-l-s {
    padding-left: var(--size_s);
}

.padd-r-s {
    padding-right: var(--size_s);
}

.padd-t-s {
    padding-top: var(--size_s);
}

.padd-b-s {
    padding-bottom: var(--size_s);
}


.padd-l-l {
    padding-left: var(--size_l);
}

.padd-r-l {
    padding-right: var(--size_l);
}

.padd-t-l {
    padding-top: var(--size_l);
}

.padd-b-l {
    padding-bottom: var(--size_l);
}



.padd-l-xl {
    padding-left: var(--size_xl);
}

.padd-r-xl {
    padding-right: var(--size_xl);
}

.padd-t-xl {
    padding-top: var(--size_xl);
}

.padd-b-xl {
    padding-bottom: var(--size_xl);
}

