/* @ID: #05-02-01 */
/* Input Base Styles */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
  display: block;
  width: 100%;
  padding: var(--space-3) var(--space-6) var(--space-3) var(--space-3);

  font-size: var(--font-size-base);
  line-height: 1.5;
  color: var(--input-text);

  background-color: var(--color-bg);
  border: 1px solid var(--color-primary);
  border-radius: var(--radius-md);

  transition: all 0.2s ease-in-out;

  appearance: none;
  outline: none;
  cursor: pointer;
}

::placeholder {
  color: var(--color-primary-light);
  font-size: var(--font-size-base);
  opacity: 1;
}

.input:focus {
  border-color: var(--color-primary);
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 4px var(--color-primary);
}

.input:hover:not(:focus) {
  border-color: #cbd5e1;
}

:is(
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="url"],
  textarea,
  .input
):is(:hover, :focus) {
  box-shadow: 0 0 7px 1px var(--color-primary);
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
}

:is(
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="url"],
  textarea,
  .input
):is(:disabled) {
  background-color: #f1f5f9;
  cursor: not-allowed;
  opacity: 0.7;
}

/**************************************************************************************************/

/* Contenedor relativo para posicionar el label */
.input-line {
  position: relative;
  width: 100%;
  max-width: 350px; /* Opcional: ancho máximo */
}

/* El Input en sí */
.input-field {
  width: 100%;
  font-size: var(--font-size-base);
  color: var(--text-main);
  background-color: var(--bg-input);
  border: 1px solid var(--color-primary);
  border-radius: var(--radius-md);
  outline: none;
  padding: var(--space-5) var(--space-6) var(--space-px) var(--space-3) !important;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;

  /* Importante para evitar estilos nativos feos */
  appearance: none;
}

/* Estado Focus (Cuando el usuario hace clic) */
.input-field:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 7px 1px var(--color-primary);
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
}

/* El Label (Etiqueta) */
.input-label {
  position: absolute;
  top: 50%;
  left: var(--space-3);
  transform: translateY(-50%);
  color: var(--color-primary-light);
  font-size: var(--font-size-base);
  pointer-events: none; /* Permite hacer clic "a través" del label */
  transition: all 0.4s ease;
  padding: 0 var(--space-1);
}

/* LA MAGIA: Mover el label cuando hay focus o texto */
.input-field:focus ~ .input-label,
.input-field:not(:placeholder-shown) ~ .input-label {
  top: 8px;
  left: var(--space-3);
  font-size: var(--font-size-xs);
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
}

/* Validación opcional: Color rojo si es inválido */
.input:invalid:not(:placeholder-shown),
.input-field:invalid:not(:placeholder-shown) {
  border-color: var(--color-error);
  box-shadow: none;
}

.input:invalid:not(:placeholder-shown):is(:hover, :focus),
.input-field:invalid:not(:placeholder-shown):is(:hover, :focus) {
  box-shadow: 0 0 5px 1px var(--color-error);
}

.input-field:invalid:not(:placeholder-shown) ~ .input-label {
  color: var(--color-error);
}

.input:valid:not(:placeholder-shown),
.input-field:valid:not(:placeholder-shown) {
  border-color: var(--color-success);
  box-shadow: none;
}

.input:valid:not(:placeholder-shown):is(:hover, :focus),
.input-field:valid:not(:placeholder-shown):is(:hover, :focus) {
  box-shadow: 0 0 5px 1px var(--color-success);
}

.input-field:valid:not(:placeholder-shown) ~ .input-label {
  color: var(--color-success);
}

/**************************************************************************************************/

/* @ID: #05-02-07 */
/* Checkbox Styles */
.checkboxContainer,
.checkbox {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin: 8px 30px 10px 10px;
  padding: 5px 25px;
}

/* Hide the browser's default checkbox */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  height: 25px;
  width: 25px;
  margin-left: 25px;
  border-radius: 8px;
  border: 3px solid var(--color-primary);
  cursor: pointer;
}

/* On mouse-over, add a shadow */
.checkbox:hover input ~ .checkmark,
.checkboxContainer:hover input ~ .checkmark {
  box-shadow: 0 0 8px 1px var(--color-primary);
}

/* When the checkbox is checked, add primary background */
.checkbox input:checked ~ .checkmark,
.checkboxContainer input:checked ~ .checkmark {
  background-color: var(--color-primary);
  box-shadow: 0 0 8px 1px var(--color-primary);
  border-radius: 6px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after,
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after,
.checkboxContainer .checkmark:after {
  left: 8px;
  top: -10px;
  width: 10px;
  height: 28px;
  border: solid white;
  border-width: 0 5px 5px 0;
  transform: rotate(45deg);
}

.checkbox-s .checkmark {
  height: 20px;
  width: 20px;
  margin-left: 20px;
}

.checkbox-s .checkmark:after {
  left: 6px;
  top: -8px;
  width: 8px;
  height: 22px;
}

.checkbox-l .checkmark {
  height: 30px;
  width: 30px;
  margin-left: 30px;
}

.checkbox-l .checkmark:after {
  left: 10px;
  top: -12px;
  width: 12px;
  height: 34px;
}

/* @ID: #05-02-08 */
/* Toggle Button (Switch) Styles */

.toggle {
  display: none;
}

.toggle,
.toggle:after,
.toggle:before,
.toggle *,
.toggle *:after,
.toggle *:before,
.toggle + .toggle-btn {
  box-sizing: border-box;
}

.toggle::-moz-selection,
.toggle:after::-moz-selection,
.toggle:before::-moz-selection,
.toggle *::-moz-selection,
.toggle *:after::-moz-selection,
.toggle *:before::-moz-selection,
.toggle + .toggle-btn::-moz-selection,
.toggle::selection,
.toggle:after::selection,
.toggle:before::selection,
.toggle *::selection,
.toggle *:after::selection,
.toggle *:before::selection,
.toggle + .toggle-btn::selection {
  background: none;
}

.toggle + .toggle-btn {
  outline: 0;
  display: block;
  width: 32px;
  height: 18px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.toggle + .toggle-btn.size-s {
  width: 25px;
  height: 15px;
}

.toggle + .toggle-btn.size-l {
  width: 48px;
  height: 26px;
}

.toggle + .toggle-btn:after,
.toggle + .toggle-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.toggle + .toggle-btn:after {
  left: 0;
}

.toggle + .toggle-btn:before {
  display: none;
}

.toggle:checked + .toggle-btn:after {
  left: 50%;
}

.toggle + .toggle-btn {
  background: #ccc;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}

.toggle + .toggle-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}

.toggle:checked + .toggle-btn {
  background: var(--color-primary);
  box-shadow: 0 0 10px 3px var(--color-primary);
}

/* Switch class alias for consistency */
.switch {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.switch input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input[type="checkbox"] + span::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 18px;
  margin-right: var(--space-2);
  border-radius: 2em;
  background: #ccc;
  transition: all 0.4s ease;
  flex-shrink: 0;
  position: relative;
  padding: 2px;
}

.switch input[type="checkbox"] + span::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}

.switch input[type="checkbox"]:checked + span::before {
  background: var(--color-primary);
  box-shadow: 0 0 10px 3px var(--color-primary);
}

.switch input[type="checkbox"]:checked + span::after {
  left: 18px;
}

/* @ID: #05-02-09 */
/* Radio Group Styles */
.radio-group {
  border-color: var(--color-primary);
  border-style: solid;
  width: fit-content;
  border-width: 2px;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  padding: 3px 0px;
}

.radio-group input {
  position: absolute !important;
  clip-path: rect(0, 0, 0, 0);
  height: 0px;
  width: 0px;
  border: 0;
  overflow: hidden;
}

.radio-group label {
  cursor: pointer;
  text-align: center;
  padding: 5px 12px;
  background: none;
  color: var(--color-primary);
}

.radio-group input:checked + label {
  background-color: var(--color-primary);
  background: var(--bg-primary);
  color: var(--color-text-alt);
  box-shadow: 0 0px 5px 0px var(--color-primary);
  border-radius: 15px;
  padding: 8px 15px;
}

/* @ID: #05-02-10 */
/* Radio Buttons */

.radio-btns {
  margin: 25px 0;
}

.radio-btns input {
  position: absolute !important;
  clip-path: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.radio-btns label {
  cursor: pointer;
  text-align: center;
  padding: 5px 12px;
  background: none;
  color: var(--color-primary);
  border-color: var(--color-primary);
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  margin: 0 5px;
}

.radio-btns input:checked + label {
  background: var(--bg-primary);
  border: none;
  padding: 7px 15px;
  color: var(--color-text-alt);
  box-shadow: 0 0px 5px 0px var(--color-primary);
}

.radio-btns label:hover {
  box-shadow: 0 0px 15px 0px var(--color-primary);
}

/* @ID: #05-02-11 */
/* Radio Divs */
.radio-divs {
  margin: 25px 0;
}

.radio-divs input {
  position: absolute !important;
  clip-path: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.radio-divs label {
  cursor: pointer;
  text-align: center;
  background: none;
  color: var(--color-primary);
  margin: 0 15px;
  display: inline-block;
}

.radio-divs label div {
  background: var(--bg-primary);
}

.radio-divs label:hover div {
  box-shadow: 0 0px 15px 0px var(--color-primary);
}

.radio-divs input:checked + label div {
  box-shadow: 0 0px 15px 0px var(--color-primary);
  transform: scale(1.2);
  margin: 10px 0;
}

/* @ID: #05-02-12 */
/* Range Slider Styles */
input[type="range"]:hover {
  box-shadow: none;
}

.range {
  display: block;
  width: 100%;
  height: 0.5rem;
  background: transparent;
  cursor: pointer;
  appearance: none;
}

/* Track */
.range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  background: var(--gray-200);
  border-radius: var(--radius-full);
  transition: all 0.2s ease;
}

.range::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  background: var(--gray-200);
  border-radius: var(--radius-full);
  transition: all 0.2s ease;
}

/* Thumb */
.range::-webkit-slider-thumb {
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: var(--radius-full);
  background: var(--color-primary);
  border: 2px solid var(--color-bg);
  box-shadow: var(--shadow-md);
  cursor: pointer;
  margin-top: -0.375rem;
  transition: all 0.2s ease;
}

.range::-moz-range-thumb {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: var(--radius-full);
  background: var(--color-primary);
  border: 2px solid var(--color-bg);
  box-shadow: var(--shadow-md);
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Hover state */
.range:hover::-webkit-slider-thumb {
  transform: scale(1.1);
}

.range:hover::-moz-range-thumb {
  transform: scale(1.1);
}

/* Focus state */
.range:focus {
  outline: none;
}

.range:focus::-webkit-slider-thumb {
  box-shadow:
    var(--shadow-md),
    0 0 0 3px hsla(210, 90%, 50%, 0.1);
}

.range:focus::-moz-range-thumb {
  box-shadow:
    var(--shadow-md),
    0 0 0 3px hsla(210, 90%, 50%, 0.1);
}

/* @ID: #05-02-13 */
/* File Input Button */

.file-btn {
  box-shadow: none;
  border-radius: 8px;
  border: 2px solid transparent;
  background: var(--color-primary);
  cursor: pointer;
  font-family: var(--font-headers);
  font-weight: 900;
  letter-spacing: 1px;
  margin: 1vh 1vw;
  color: #fff;
  padding: 10px 1.2vw 7px 1.2vw;
  min-width: var(--space-32);
  width: min-content;
}

.file-btn input[type="file"] {
  display: none;
}

.file-btn span {
  display: block;
  color: #777;
}

/* @ID: #05-02-14 */
/* Input Container */

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 5px;
}

.input-container span {
  max-width: 120px;
  margin: 10px 10px 10px 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

@media (min-width: 768px) {
  .input-container span {
    max-width: 300px;
    margin-right: 10px;
  }
}

/* @ID: #05-02-15 */
/* Range Container */

.range-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.range-container input[type="number"] {
  min-width: 0 !important;
  text-align: center;
}

/* @ID: #05-02-16 */
/* Responsive Adjustments */

@media (max-width: 640px) {
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="url"],
  .input,
  textarea,
  .textarea,
  select,
  .select {
    font-size: var(--font-size-s);
  }
}
