<!doctype html>
<html>



<head>

    <title>Plataforma de Clases Virtuales</title>

    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link type="text/css" rel="stylesheet" href="../src/lagunite-config.css" />
    <link type="text/css" rel="stylesheet" href="../src/lagunite.css" />



</head>

<body>

    <div class="nav alt ">
        <div class="container   jc-sb ai-c">
            <img src="" alt="L1nk">
            <a href="">
                Lagunite 
            </a>
        </div> 
    </div>
    <div class="marg-t-l"></div>


    <div class="btn tear-l float-br dhidden">
        <h1>+</h1>        
    </div>

    

    <div class="panel noaside">
        <section class="col">
            <div class="row  jc-sb padd-h ">
                <button class="btn" onclick="showModal('newUser')">NUEVO</button>
            </div>
            <div class="row jc-sa padd marg-s shadow-1 bg-7 border-r">
                <div class="">
                    <h5>Cantidad de Usuarios</h5>
                    <h2>419</h2>
                </div>
                <div class="">
                    <h5>Cantidad de Usuarios</h5>
                    <h2>419</h2>
                </div>
                <div class="">
                    <h5>Cantidad de Usuarios</h5>
                    <h2>419</h2>
                </div>

            </div>
            <div class="scrollable  padd-s marg-s shadow-1 1 bg-7 border-r">

                <table id="table " class="hoverable-table">
                    <tr>
                        <th>Name</th>
                        <th>User</th>
                        <th>Date</th>
                        <!--
                        <th>Pais</th>-->
                        <th>Actionss</th>
                    </tr>
                </table>
            </div>
        </section>
    </div>



    <footer>
    </footer>
</body></html>
