<!doctype html>
<html>

<head>
    <title>Lagunite</title>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/png" href="../web/img/lagunite_iso_mini.png">


    <link type="text/css" rel="stylesheet" href="../src/lagunite-config.css" />
    <link type="text/css" rel="stylesheet" href="../src/lagunite.css" />



    <style>
        header {
            margin: 30px 00;
        }

        header img {
            max-width: 250px;
        }
    </style>
</head>


<body>
    <div class="nav hidden" id="nav1">
        <div class="container   jc-sb ai-c">
            <div>
                <h1>
                    nav
                </h1>
            </div>
            <div>
                <button class="btn" id="">SignIn </button>
                <button class="btn" id="">SignUp</button>
            </div>
        </div>
    </div>

    <div class="marg-t-xl"></div>

    <header>
        <a href="/">
            <img src="../web/img/lagunite.png">
        </a>
        <h3>Nav bars Examples</h3>
    </header>
    <div class="row">
        <div class="col ">
            <button class="btn">nav</button>
            <button class="btn">nav alt</button>
            <button class="btn">nav fixed</button>
            
        </div>

    </div>
    <div class="separator-h"></div>




    <footer class="row  vh20">
        <a href="https://github.com/arielivandiaz/lagunite">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png" style="width: 100px">
        </a>
    </footer>

</body></html>
