<!doctype html>
<html>



<head>

    <title>Lagunite Panel</title>

    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link type="text/css" rel="stylesheet" href="../src/lagunite-config.css" />
    <link type="text/css" rel="stylesheet" href="../src/lagunite.css" />



</head>

<body>

    <div class="nav alt">
        <div class="container   jc-fe ai-c">
            <div class="marg-r">
                <a href="http://localhost:7247/classroom" class="btn ">
                    Ver clases
                </a>
            </div>
            <a href="">
                Lagunite </a>
        </div>
    </div>








    <aside class="aside alt bgg-4">
        <div>
            <a href="">
                <img src="../img/iconbw.png"></a>
        </div>
        <div>
            <button onclick="showSection('users')">
                <img src="../img/iconUsrs.png">
                <span class="tooltiptext">Usuarios</span>
            </button>
            <button onclick="showSection('class')">
                <img src="../img/iconGym.png">
                <span class="tooltiptext">Clases</span>

            </button>
            <button onclick="showSection('payments')">
                <img src="../img/iconPlay.png">
                <span class="tooltiptext">Abonos</span>
            </button>
            <button onclick="showSection('gallery')">
                <img src="../img/iconGallery.png">
                <span class="tooltiptext">Imagenes</span>
            </button>
            <button onclick="showSection('customHtml')">
                <img src="../img/iconCheck.png">
                <span class="tooltiptext">Custom HTML</span>
            </button>
            <button onclick="showSection('logs')">
                <img src="../img/iconLogs.png">
                <span class="tooltiptext">Logs</span>
            </button>
        </div>
        <div>
            <a href="http://localhost:7247/logout">
                <button>
                    <img src="../img/iconPoweroff.png">
                    <span class="tooltiptext">Salir</span>
                </button>
            </a>
        </div>
    </aside>

    <div class="xaside">
        <button onclick="showSection('users')">
            <img src="../img/iconHome.png">
            <span class="">Home</span>
        </button>
        <button class="main" onclick="showSection('class')">
            <img src="../img/iconPlay.png">

        </button>

        <button onclick="showSection('gallery')">
            <img src="../img/burger.png">
            <span class="">Menu</span>
        </button>
    </div>






    <div class="panel">
        <section class="col">
            <div class="row  jc-sb dpadd-h xmarg-s">
                <h2>USUARIOS</h2>
                <button class="btn" onclick="showModal('newUser')">NUEVO</button>
            </div>
            <div class="row jc-sa dpadd xpadd-s dmarg-s shadow-1 bg-7 border-r xfont-s">
                <div class="">
                    <h5>Cantidad de Usuarios</h5>
                    <h2>419</h2>
                </div>
                <div class="">
                    <h5>Cantidad de Usuarios</h5>
                    <h2>419</h2>
                </div>
                <div class="">
                    <h5>Cantidad de Usuarios</h5>
                    <h2>419</h2>
                </div>

            </div>   
            <div class="scrollable  dpadd-s  dmarg-s xmarg-s  shadow-1  bg-7 border-r">

                <table id="table " class="hoverable-table">
                    <tbody>
                        <tr>
                            <th>L1nk</th>
                            <th>URL</th>
                            <th>Visits</th>
                            <th>Actions</th>
                            <!--
                        <th>Pais</th>-->
                        </tr>



                        <tr id="">
                            <td>
                                axRe4l
                            </td>
                            <td>
                                http://localhost:2778/
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    17" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>

                        <tr id="">
                            <td>
                                gjgaFJ
                            </td>
                            <td>
                                http://localhost/phpmyadmin/sql.php?server=1&amp;db=test&amp;table=test_table&amp;pos=0
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    18" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr id="">
                            <td>
                                axRe4l
                            </td>
                            <td>
                                http://localhost:2778/
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    17" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>

                        <tr id="">
                            <td>
                                gjgaFJ
                            </td>
                            <td>
                                http://localhost/phpmyadmin/sql.php?server=1&amp;db=test&amp;table=test_table&amp;pos=0
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    18" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr id="">
                            <td>
                                axRe4l
                            </td>
                            <td>
                                http://localhost:2778/
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    17" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>

                        <tr id="">
                            <td>
                                gjgaFJ
                            </td>
                            <td>
                                http://localhost/phpmyadmin/sql.php?server=1&amp;db=test&amp;table=test_table&amp;pos=0
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    18" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr id="">
                            <td>
                                axRe4l
                            </td>
                            <td>
                                http://localhost:2778/
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    17" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>

                        <tr id="">
                            <td>
                                gjgaFJ
                            </td>
                            <td>
                                http://localhost/phpmyadmin/sql.php?server=1&amp;db=test&amp;table=test_table&amp;pos=0
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    18" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr id="">
                            <td>
                                axRe4l
                            </td>
                            <td>
                                http://localhost:2778/
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    17" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>

                        <tr id="">
                            <td>
                                gjgaFJ
                            </td>
                            <td>
                                http://localhost/phpmyadmin/sql.php?server=1&amp;db=test&amp;table=test_table&amp;pos=0
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    18" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr id="">
                            <td>
                                axRe4l
                            </td>
                            <td>
                                http://localhost:2778/
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    17" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>

                        <tr id="">
                            <td>
                                gjgaFJ
                            </td>
                            <td>
                                http://localhost/phpmyadmin/sql.php?server=1&amp;db=test&amp;table=test_table&amp;pos=0
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    18" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr id="">
                            <td>
                                axRe4l
                            </td>
                            <td>
                                http://localhost:2778/
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    17" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>

                        <tr id="">
                            <td>
                                gjgaFJ
                            </td>
                            <td>
                                http://localhost/phpmyadmin/sql.php?server=1&amp;db=test&amp;table=test_table&amp;pos=0
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    18" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr id="">
                            <td>
                                axRe4l
                            </td>
                            <td>
                                http://localhost:2778/
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    17" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>

                        <tr id="">
                            <td>
                                gjgaFJ
                            </td>
                            <td>
                                http://localhost/phpmyadmin/sql.php?server=1&amp;db=test&amp;table=test_table&amp;pos=0
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    18" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr id="">
                            <td>
                                axRe4l
                            </td>
                            <td>
                                http://localhost:2778/
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    17" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>

                        <tr id="">
                            <td>
                                gjgaFJ
                            </td>
                            <td>
                                http://localhost/phpmyadmin/sql.php?server=1&amp;db=test&amp;table=test_table&amp;pos=0
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    18" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr id="">
                            <td>
                                axRe4l
                            </td>
                            <td>
                                http://localhost:2778/
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    17" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>

                        <tr id="">
                            <td>
                                gjgaFJ
                            </td>
                            <td>
                                http://localhost/phpmyadmin/sql.php?server=1&amp;db=test&amp;table=test_table&amp;pos=0
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                <form method="POST" action="destroy">
                                    <input name="id" value="    18" hidden="">
                                    <button class="btn fit" type="submit">
                                        DELETE
                                    </button>
                                </form>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </section>
    </div>



    <footer>
    </footer>
</body></html>
