<tr style="display : none;" id="MXDV6"><td>	Antonella Andrea	</td><td>	Rozales	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="QCAN4"><td>	Fátima Lucía	</td><td>	López Guzzo	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="AYRAA"><td>	Marcos Fabian	</td><td>	Marenna	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="WM3WR"><td>	Emiliano Ignacio	</td><td>	Nievas	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="NFQ5M"><td>	Macarena	</td><td>	Sayi Liu Villegas	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="ZEBE8"><td>	Daiana Beatriz	</td><td>	Villalva	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="A4V2C"><td>	Martina	</td><td>	Luciani	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="YTVW2"><td>	Andrea	</td><td>	Paz	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="6V9VS"><td>	Javier	</td><td>	Arancibia	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="WRBTW"><td>	Miguel Andres	</td><td>	Saucedo	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="WPR87"><td>	Cecilia Andrea	</td><td>	Perez	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="RJXBB"><td>	Claudia	</td><td>	Aguilar	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="RUBGA"><td>	Brian Yamil	</td><td>	Berri	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="VAKBJ"><td>	Carlos	</td><td>	Villegas	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="L4US6"><td>	Marlon	</td><td>	Estuardo	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="RHZ4F"><td>	Sofia	</td><td>	Crincoli	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="EGANQ"><td>	Luján Mikaela	</td><td>	Segovia	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="NM27W"><td>	José María	</td><td>	De La Torre	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="NANBK"><td>	Ariel	</td><td>	Solano Pérez	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="7YE53"><td>	Agustina Fernanda	</td><td>	Hansen	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="5X37Z"><td>	Juan Manuel	</td><td>	Fonseca	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="QYE9Z"><td>	Ronald Richard	</td><td>	De Sucre Echeverría	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="2JGRQ"><td>	Mariela	</td><td>	Monge	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="W9HTX"><td>	Gabriel	</td><td>	Alvarado Tizón	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="74Y3L"><td>	Guadalupe	</td><td>	Ochoa	</td><td>	Entrenamiento Funcional	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="EBCNQ"><td>	Antonella Andrea	</td><td>	Rozales	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="ZXS7V"><td>	Marcos Fabian	</td><td>	Marenna	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="9BJWC"><td>	Emiliano Ignacio	</td><td>	Nievas	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="JKUB2"><td>	Daiana Beatriz	</td><td>	Villalva	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="CV7AM"><td>	Ariana Lorena	</td><td>	Acuña	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="MFGMQ"><td>	Carlos Nehuen	</td><td>	Albarracín	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="CZZWU"><td>	Gonzalo Neuen	</td><td>	Lobo	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="JNY5C"><td>	Brian Yamil	</td><td>	Berri	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="VUZ5B"><td>	Carlos	</td><td>	Villegas	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="PRE77"><td>	Analia	</td><td>	Molina	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="4B6TM"><td>	Sofia	</td><td>	Crincoli	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="FCUFT"><td>	Roger Alberto	</td><td>	Barreto Berrio	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="SNB8E"><td>	Agustina Fernanda	</td><td>	Hansen	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="25R6W"><td>	Juan Manuel	</td><td>	Fonseca	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="U8YV6"><td>	Mariela	</td><td>	Monge	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="EMBAP"><td>	Mariela Sol	</td><td>	Figueredo	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="HK7SW"><td>	Guadalupe	</td><td>	Ochoa	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="L8QR5"><td>	Javier Ignacio	</td><td>	Vargas Cárdenas	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="PJQ3L"><td>	Antonella Andrea	</td><td>	Rozales	</td><td>	Introducción al Cross Fitness	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="Z7U9M"><td>	Marcos Fabian	</td><td>	Marenna	</td><td>	Introducción al Cross Fitness	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="QTNNT"><td>	Nahir Ayelen	</td><td>	Diaz Strassera	</td><td>	Introducción al Cross Fitness	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="7BB8D"><td>	Gustavo	</td><td>	Vallejos	</td><td>	Introducción al Cross Fitness	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="4J4JF"><td>	Andrea	</td><td>	Quevedo	</td><td>	Introducción al Cross Fitness	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="TZJAU"><td>	Katherine Jael	</td><td>	Coronel	</td><td>	Introducción al Cross Fitness	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="K84MH"><td>	Miguel Andres	</td><td>	Saucedo	</td><td>	Introducción al Cross Fitness	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="WJWGK"><td>	Sofia	</td><td>	Crincoli	</td><td>	Introducción al Cross Fitness	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="P7W2H"><td>	Brandy Leonardo	</td><td>	Castedo	</td><td>	Introducción al Cross Fitness	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="ZY6H3"><td>	Mariela	</td><td>	Monge	</td><td>	Introducción al Cross Fitness	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="4XASC"><td>	Linda	</td><td>	Latorre	</td><td>	Introducción al Cross Fitness	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="9WZM3"><td>	Lautaro	</td><td>	Zabala	</td><td>	Introducción al Cross Fitness	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="DCWSY"><td>	Antonella Andrea	</td><td>	Rozales	</td><td>	Cross Fitness de Alto Rendimiento	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="DL7GE"><td>	Marcos Fabian	</td><td>	Marenna	</td><td>	Cross Fitness de Alto Rendimiento	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="AA6JN"><td>	Nahir Ayelen	</td><td>	Diaz Strassera	</td><td>	Cross Fitness de Alto Rendimiento	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="DRWDB"><td>	Gustavo	</td><td>	Vallejos	</td><td>	Cross Fitness de Alto Rendimiento	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="R2L4Z"><td>	Mauro Ezequiel	</td><td>	Nuñez Delgado	</td><td>	Cross Fitness de Alto Rendimiento	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="DM4UN"><td>	Andrea	</td><td>	Quevedo	</td><td>	Cross Fitness de Alto Rendimiento	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="2F579"><td>	Katherine Jael	</td><td>	Coronel	</td><td>	Cross Fitness de Alto Rendimiento	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="GJ5CM"><td>	Miguel Andres	</td><td>	Saucedo	</td><td>	Cross Fitness de Alto Rendimiento	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="KZA7P"><td>	Noelia	</td><td>	Labarriel	</td><td>	Cross Fitness de Alto Rendimiento	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="MGUT2"><td>	Analia	</td><td>	Molina	</td><td>	Cross Fitness de Alto Rendimiento	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="DECEN"><td>	Brandy Leonardo	</td><td>	Castedo	</td><td>	Cross Fitness de Alto Rendimiento	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="R8PH2"><td>	Ariel	</td><td>	Solano Pérez	</td><td>	Cross Fitness de Alto Rendimiento	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="VXNWR"><td>	Brian Orlando	</td><td>	Meoño Morales	</td><td>	Cross Fitness de Alto Rendimiento	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="PFVCR"><td>	Mariela	</td><td>	Monge	</td><td>	Cross Fitness de Alto Rendimiento	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="MUDZA"><td>	Linda	</td><td>	Latorre	</td><td>	Cross Fitness de Alto Rendimiento	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="9PMSK"><td>	Lautaro	</td><td>	Zabala	</td><td>	Cross Fitness de Alto Rendimiento	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="N359K"><td>	Daiana Beatriz	</td><td>	Villalva	</td><td>	Técnicas de Box y Deportes de Contacto	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="TQA68"><td>	Nahir Ayelen	</td><td>	Diaz Strassera	</td><td>	Técnicas de Box y Deportes de Contacto	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="4TKQ9"><td>	Gabriel Germán	</td><td>	Gile	</td><td>	Técnicas de Box y Deportes de Contacto	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="ACWA8"><td>	Mariela	</td><td>	Monge	</td><td>	Técnicas de Box y Deportes de Contacto	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="TXDVV"><td>	Javier Ignacio	</td><td>	Vargas Cárdenas	</td><td>	Técnicas de Box y Deportes de Contacto	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="Y44PL"><td>	Reyes Duque	</td><td>	Magdalena	</td><td>	Técnicas de Box y Deportes de Contacto	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="GTFNL"><td>	Javier	</td><td>	Basualdo	</td><td>	Fit-Box, Boxeo Funcional	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="J3DNF"><td>	Nahir Ayelen	</td><td>	Diaz Strassera	</td><td>	Fit-Box, Boxeo Funcional	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="DQN45"><td>	Cristian Adrian	</td><td>	Ramos	</td><td>	Fit-Box, Boxeo Funcional	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="TBHL3"><td>	Nicole Camila	</td><td>	Fleming	</td><td>	Fit-Box, Boxeo Funcional	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="JXCAW"><td>	Cesar	</td><td>	Lange	</td><td>	Fit-Box, Boxeo Funcional	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="YZEET"><td>	Leticia	</td><td>	Bonin	</td><td>	Fit-Box, Boxeo Funcional	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="QLQT3"><td>	Solange	</td><td>	Acosta	</td><td>	Fit-Box, Boxeo Funcional	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="FKMBR"><td>	Mariela	</td><td>	Monge	</td><td>	Fit-Box, Boxeo Funcional	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="UMSBS"><td>	Reyes Duque	</td><td>	Magdalena	</td><td>	Fit-Box, Boxeo Funcional	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="6977K"><td>	Enzo	</td><td>	Herrera	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="624SR"><td>	Pablo Julián	</td><td>	González Alaniz	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="4QBL3"><td>	Alejandra	</td><td>	Betancourt	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="8PQKP"><td>	Walter Adrian	</td><td>	Pérez	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="336ZW"><td>	Ayelen Aimara	</td><td>	Coronel	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="99PKJ"><td>	Cynthia Soledad	</td><td>	Salvatierra Funes	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="JMZEH"><td>	Mayra Lucila	</td><td>	Iribarren	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="Q2JDV"><td>	Cristian Manuel	</td><td>	Maldonado Rivera	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="SERXT"><td>	Maria Jesus	</td><td>	Correa Costa	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="W78BP"><td>	Rebeca	</td><td>	Lara	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="JUDT3"><td>	Andres Emanuel	</td><td>	Laurin	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="RFFNA"><td>	Daniela Milagros	</td><td>	Santos Pozo	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="8NJ9K"><td>	Ariel Humberto	</td><td>	Solis Oviedo	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="DRCKK"><td>	David Ernesto	</td><td>	Barrios Pineda	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="4R5C5"><td>	Jose David	</td><td>	Lopez Rosales	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="8TUGK"><td>	Georgina	</td><td>	Rojo	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="WTQW7"><td>	Julian	</td><td>	Guajardo	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="52PYG"><td>	Dana Zaira	</td><td>	Rojas Pistan	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="LM59Z"><td>	Antonella Andrea	</td><td>	Rozales	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="5X6WH"><td>	Fátima Lucía	</td><td>	López Guzzo	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="CRD5E"><td>	Dayana	</td><td>	Guaido	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="NEKSV"><td>	Nestor	</td><td>	Isea	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="6TENV"><td>	Julio	</td><td>	Grance	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="HYMGN"><td>	Daiana Beatriz	</td><td>	Villalva	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="P5RP2"><td>	Yonatan Andres	</td><td>	Benitez	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="NLL2M"><td>	Irvin	</td><td>	Becerril Lule	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="GV3QF"><td>	Agustín Tobías	</td><td>	Fernández	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="NU3HQ"><td>	Ramiro Ezequiel	</td><td>	Fernandez	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="63YUA"><td>	Omar	</td><td>	Quiaragua	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="RFU5L"><td>	Mauricio	</td><td>	Ferney Casierra	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="9EX52"><td>	Gabriel	</td><td>	Ferreyra	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="B8ZGE"><td>	Leandro	</td><td>	Acosta	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="SP978"><td>	Valentina	</td><td>	Leon	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="VVA9V"><td>	Lucas Adrián	</td><td>	Chaile	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="ADZTH"><td>	Mauro Ezequiel	</td><td>	Nuñez Delgado	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="6PWE2"><td>	Yamila Soledad	</td><td>	Brochero	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="BZ2GB"><td>	Gloria Noemí	</td><td>	Machado	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="93XUN"><td>	Andrea	</td><td>	Quevedo	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="D35A7"><td>	Yraldis Maireth	</td><td>	Roa Chacon	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="WT2GP"><td>	Cesar	</td><td>	Lange	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="SD2H9"><td>	Elisabet	</td><td>	Ahmed	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="YDHDT"><td>	Sandra	</td><td>	Velásquez Montes	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="JXBSM"><td>	Evangelina	</td><td>	Pérez	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="A25E5"><td>	Gonzalo Gabriel	</td><td>	Alvarez	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="3Q85B"><td>	María Florencia	</td><td>	Ponce	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="WEBVF"><td>	Carlos	</td><td>	Villegas	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="Y3ZXL"><td>	Carla	</td><td>	Cardarena	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="YYJWN"><td>	Claudia Amarilis	</td><td>	Marroquin Rivera	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="QD7LF"><td>	Sharon	</td><td>	Amado Lam	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="HXG64"><td>	Marlon	</td><td>	Estuardo	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="4X3MU"><td>	Arlenis	</td><td>	Martinez Acosta	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="YBH9M"><td>	Fernanda Fabiana	</td><td>	Olmos	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="9MA2T"><td>	Martin Nicolas	</td><td>	Clemente	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="TM6QT"><td>	Camilo Andrés	</td><td>	Ospino Romero	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="BAEHH"><td>	Hanamell	</td><td>	Hill	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="NN956"><td>	Dominique	</td><td>	Herrera	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="FKTUX"><td>	Luana	</td><td>	Arce	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="GXMAL"><td>	Guido	</td><td>	Giuliano	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="H8JQA"><td>	Jorge Ivan	</td><td>	Rodriguez Lopez	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="EMKHM"><td>	Carlos Manuel	</td><td>	Carrillo Moreno	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="JGHZC"><td>	Gastón Facundo	</td><td>	Ruiz	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="MAQZT"><td>	Agustina Fernanda	</td><td>	Hansen	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="R8D64"><td>	Brian Orlando	</td><td>	Meoño Morales	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="E4ZL7"><td>	Mariela	</td><td>	Monge	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="XP7N9"><td>	Mariela Sol	</td><td>	Figueredo	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="8M7J8"><td>	Lautaro	</td><td>	Zabala	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="GTV4Y"><td>	Pablo Julián	</td><td>	González Alaniz	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="DJEM5"><td>	Alejandra	</td><td>	Betancourt	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="ZV2FD"><td>	Walter Adrian	</td><td>	Pérez	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="DGL7Z"><td>	Mayra Lucila	</td><td>	Iribarren	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="4F8UF"><td>	Cristian Manuel	</td><td>	Maldonado Rivera	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="RTRJW"><td>	Maria Jesus	</td><td>	Correa Costa	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="CN9UR"><td>	Rebeca	</td><td>	Lara	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="W6M5L"><td>	Andres Emanuel	</td><td>	Laurin	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="N8U6D"><td>	Daniela Milagros	</td><td>	Santos Pozo	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="LSYED"><td>	Ariel Humberto	</td><td>	Solis Oviedo	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="NKHDK"><td>	David Ernesto	</td><td>	Barrios Pineda	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="5J5MR"><td>	Jose David	</td><td>	Lopez Rosales	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="T772F"><td>	Georgina	</td><td>	Rojo	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="RGGQN"><td>	Julian	</td><td>	Guajardo	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="B6EJ6"><td>	Dana Zaira	</td><td>	Rojas Pistan	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="68G33"><td>	Antonella Andrea	</td><td>	Rozales	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="SDNRH"><td>	Fátima Lucía	</td><td>	López Guzzo	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="JVYRJ"><td>	Dayana	</td><td>	Guaido	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="QSPFF"><td>	Nestor	</td><td>	Isea	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="LEBGE"><td>	Julio	</td><td>	Grance	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="WK3R4"><td>	Yonatan Andres	</td><td>	Benitez	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="EBC94"><td>	Irvin	</td><td>	Becerril Lule	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="KZWN9"><td>	Agustín Tobías	</td><td>	Fernández	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="5TD9J"><td>	Ramiro Ezequiel	</td><td>	Fernandez	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="NKPCK"><td>	Omar	</td><td>	Quiaragua	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="Q7MUT"><td>	Mauricio	</td><td>	Ferney Casierra	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="UEW4G"><td>	Gabriel	</td><td>	Ferreyra	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="QXNXQ"><td>	Valentina	</td><td>	Leon	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="Y8CSA"><td>	Lucas Adrián	</td><td>	Chaile	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="UDMHK"><td>	Mauro Ezequiel	</td><td>	Nuñez Delgado	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="H5VAH"><td>	Yamila Soledad	</td><td>	Brochero	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="25AWY"><td>	Gloria Noemí	</td><td>	Machado	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="JXZWV"><td>	Andrea	</td><td>	Quevedo	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="YT8HR"><td>	Sandra	</td><td>	Velásquez Montes	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="KAEYH"><td>	Evangelina	</td><td>	Pérez	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="3RTH4"><td>	Gonzalo Gabriel	</td><td>	Alvarez	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="RW5MY"><td>	María Florencia	</td><td>	Ponce	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="M2LKN"><td>	Carlos	</td><td>	Villegas	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="S6AZL"><td>	Carla	</td><td>	Cardarena	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="F69V3"><td>	Claudia Amarilis	</td><td>	Marroquin Rivera	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="J439Q"><td>	Sharon	</td><td>	Amado Lam	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="ANZBM"><td>	Marlon	</td><td>	Estuardo	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="2K2RB"><td>	Arlenis	</td><td>	Martinez Acosta	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="MRMPR"><td>	Fernanda Fabiana	</td><td>	Olmos	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="Q6VVA"><td>	Camilo Andrés	</td><td>	Ospino Romero	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="H3T4Y"><td>	Hanamell	</td><td>	Hill	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="6RZ9X"><td>	Dominique	</td><td>	Herrera	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="4UG9G"><td>	Mónica Beatriz	</td><td>	Enciso Arrúa	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="ECKSJ"><td>	Luana	</td><td>	Arce	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="5UMZ8"><td>	Guido	</td><td>	Giuliano	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="F8K7R"><td>	Jorge Ivan	</td><td>	Rodriguez Lopez	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="HCTCC"><td>	Carlos Manuel	</td><td>	Carrillo Moreno	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="FDCCM"><td>	Gastón Facundo	</td><td>	Ruiz	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="EJZR9"><td>	Leandro	</td><td>	Acosta	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="96Q63"><td>	Agustina Fernanda	</td><td>	Hansen	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="JT683"><td>	Brian Orlando	</td><td>	Meoño Morales	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="YPY4B"><td>	Mariela	</td><td>	Monge	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="C85UW"><td>	Lautaro	</td><td>	Zabala	</td><td>	Personal Trainer Level 2	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="3G9JT"><td>	Antonella Andrea	</td><td>	Rozales	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="WAWB2"><td>	Fátima Lucía	</td><td>	López Guzzo	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="C2DCS"><td>	Dayana	</td><td>	Guaido	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="3J4BC"><td>	Nestor	</td><td>	Isea	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="R4XB8"><td>	Julio	</td><td>	Grance	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="S552R"><td>	Yonatan Andres	</td><td>	Benitez	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="S6ANP"><td>	Irvin	</td><td>	Becerril Lule	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="MEVC3"><td>	Omar	</td><td>	Quiaragua	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="A7GRU"><td>	Mauricio	</td><td>	Ferney Casierra	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="35ACK"><td>	Valentina	</td><td>	Leon	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="3NANE"><td>	Lucas Adrián	</td><td>	Chaile	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="R98MW"><td>	Mauro Ezequiel	</td><td>	Nuñez Delgado	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="M5JMS"><td>	Yamila Soledad	</td><td>	Brochero	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="NNGBE"><td>	Sandra	</td><td>	Velásquez Montes	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="6PP6C"><td>	Evangelina	</td><td>	Pérez	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="87KH2"><td>	Gonzalo Gabriel	</td><td>	Alvarez	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="ELYXS"><td>	María Florencia	</td><td>	Ponce	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="BQPZH"><td>	Carlos	</td><td>	Villegas	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="Y4AYR"><td>	Carla	</td><td>	Cardarena	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="RPE3C"><td>	Marlon	</td><td>	Estuardo	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="VNDJN"><td>	Arlenis	</td><td>	Martinez Acosta	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="PKAFG"><td>	Fernanda Fabiana	</td><td>	Olmos	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="ZUNRH"><td>	Camilo Andrés	</td><td>	Ospino Romero	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="9RTMD"><td>	Hanamell	</td><td>	Hill	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="YLRLM"><td>	Mónica Beatriz	</td><td>	Enciso Arrúa	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="MQ7YM"><td>	Debora Sabrina	</td><td>	Ceccarelli	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="69MMS"><td>	Guido	</td><td>	Giuliano	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="2UHCL"><td>	Jorge Ivan	</td><td>	Rodriguez Lopez	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="HYJA5"><td>	Gastón Facundo	</td><td>	Ruiz	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="AWBFS"><td>	Leandro	</td><td>	Acosta	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="Z64UT"><td>	Agustina Fernanda	</td><td>	Hansen	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="WNVYW"><td>	Brian Orlando	</td><td>	Meoño Morales	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="THSRP"><td>	Mariela	</td><td>	Monge	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="YX7P3"><td>	Lautaro	</td><td>	Zabala	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="S2GXJ"><td>	Pablo Julián	</td><td>	González Alaniz	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="VJG6Y"><td>	Alejandra	</td><td>	Betancourt	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="LBG9R"><td>	Walter Adrian	</td><td>	Pérez	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="L5KPJ"><td>	Cynthia Soledad	</td><td>	Salvatierra Funes	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="X7EAX"><td>	Cristian Manuel	</td><td>	Maldonado Rivera	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="DHMAU"><td>	Maria Jesus	</td><td>	Correa Costa	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="GVR8A"><td>	Rebeca	</td><td>	Lara	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="SDH7E"><td>	Andres Emanuel	</td><td>	Laurin	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="A789Q"><td>	Daniela Milagros	</td><td>	Santos Pozo	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="ZW56H"><td>	Ariel Humberto	</td><td>	Solis Oviedo	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="3BVA2"><td>	David Ernesto	</td><td>	Barrios Pineda	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="VUBC7"><td>	Jose David	</td><td>	Lopez Rosales	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="N3M5X"><td>	Georgina	</td><td>	Rojo	</td><td>	Personal Trainer Level 3	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="SNYHE"><td>	Pablo Julián	</td><td>	González Alaniz	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="T8BXW"><td>	Alejandra	</td><td>	Betancourt	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="ABN7D"><td>	Walter Adrian	</td><td>	Pérez	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="ZMZXL"><td>	Cristian Manuel	</td><td>	Maldonado Rivera	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="PU4C2"><td>	Maria Jesus	</td><td>	Correa Costa	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="BZPZB"><td>	Rebeca	</td><td>	Lara	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="7VKF4"><td>	Andres Emanuel	</td><td>	Laurin	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="LV8DF"><td>	Daniela Milagros	</td><td>	Santos Pozo	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="WB6FL"><td>	Ariel Humberto	</td><td>	Solis Oviedo	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="YYYEC"><td>	David Ernesto	</td><td>	Barrios Pineda	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="Y4JV6"><td>	Jose David	</td><td>	Lopez Rosales	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="R752Q"><td>	Georgina	</td><td>	Rojo	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="T8FAX"><td>	Antonella Andrea	</td><td>	Rozales	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="Q6X9P"><td>	Fátima Lucía	</td><td>	López Guzzo	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="HWY3G"><td>	Dayana	</td><td>	Guaido	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="M3YEV"><td>	Nestor	</td><td>	Isea	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="HLNWL"><td>	Julio	</td><td>	Grance	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="LFLCP"><td>	Yonatan Andres	</td><td>	Benitez	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="DHQLH"><td>	Irvin	</td><td>	Becerril Lule	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="EJ3K8"><td>	Omar	</td><td>	Quiaragua	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="8MX6Z"><td>	Mauricio	</td><td>	Ferney Casierra	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="UEPDT"><td>	Valentina	</td><td>	Leon	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="H3BPS"><td>	Lucas Adrián	</td><td>	Chaile	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="ATXZA"><td>	Mauro Ezequiel	</td><td>	Nuñez Delgado	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="GTHF8"><td>	Yamila Soledad	</td><td>	Brochero	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="25Y89"><td>	Sandra	</td><td>	Velásquez Montes	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="7393M"><td>	Evangelina	</td><td>	Pérez	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="YYTAG"><td>	Gonzalo Gabriel	</td><td>	Alvarez	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="J26U2"><td>	María Florencia	</td><td>	Ponce	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="8D73D"><td>	Carlos	</td><td>	Villegas	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="YL7BE"><td>	Carla	</td><td>	Cardarena	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="5D264"><td>	Marlon	</td><td>	Estuardo	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="CWUVA"><td>	Arlenis	</td><td>	Martinez Acosta	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="RH3JF"><td>	Fernanda Fabiana	</td><td>	Olmos	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="MC7XC"><td>	Camilo Andrés	</td><td>	Ospino Romero	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="VG6XL"><td>	Hanamell	</td><td>	Hill	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="ATFHK"><td>	Debora Sabrina	</td><td>	Ceccarelli	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="FSUTS"><td>	Guido	</td><td>	Giuliano	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="6WMC2"><td>	Jorge Ivan	</td><td>	Rodriguez Lopez	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="X4TM4"><td>	Gastón Facundo	</td><td>	Ruiz	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="BM47A"><td>	Leandro	</td><td>	Acosta	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="RSAJG"><td>	Agustina Fernanda	</td><td>	Hansen	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="J9HVB"><td>	Brian Orlando	</td><td>	Meoño Morales	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="MNB9S"><td>	Mariela	</td><td>	Monge	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="PP5NB"><td>	Lautaro	</td><td>	Zabala	</td><td>	Personal Trainer Level 4	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="EPHBA"><td>	Antonella Andrea	</td><td>	Rozales	</td><td>	Bases Teóricas de la Nutrición Deportiva	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="H8UEJ"><td>	Ariana Lorena	</td><td>	Acuña	</td><td>	Bases Teóricas de la Nutrición Deportiva	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="ZG3GN"><td>	Ramiro Ezequiel	</td><td>	Fernandez	</td><td>	Bases Teóricas de la Nutrición Deportiva	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="T5DF2"><td>	Yadira	</td><td>	Acosta Gil	</td><td>	Bases Teóricas de la Nutrición Deportiva	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="7JAUC"><td>	Sandra	</td><td>	Velásquez Montes	</td><td>	Bases Teóricas de la Nutrición Deportiva	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="XPZX2"><td>	Claudia	</td><td>	Aguilar	</td><td>	Bases Teóricas de la Nutrición Deportiva	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="7EJKM"><td>	Noelia	</td><td>	Labarriel	</td><td>	Bases Teóricas de la Nutrición Deportiva	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="WYZ4T"><td>	Marlon	</td><td>	Estuardo	</td><td>	Bases Teóricas de la Nutrición Deportiva	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="GKP4L"><td>	Martin Nicolas	</td><td>	Clemente	</td><td>	Bases Teóricas de la Nutrición Deportiva	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="AA2PP"><td>	María Sol	</td><td>	Contreras	</td><td>	Bases Teóricas de la Nutrición Deportiva	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="2V24L"><td>	Sergio Gustavo	</td><td>	Acosta	</td><td>	Bases Teóricas de la Nutrición Deportiva	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="HXC5Z"><td>	Vanesa	</td><td>	Ceballos	</td><td>	Bases Teóricas de la Nutrición Deportiva	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="NP8T2"><td>	Karen Mirna Solange	</td><td>	Barros Carrasco	</td><td>	Bases Teóricas de la Nutrición Deportiva	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="8XSPC"><td>	Luis	</td><td>	Haupt	</td><td>	Bases Teóricas de la Nutrición Deportiva	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="QARRT"><td>	Javier Ignacio	</td><td>	Vargas Cárdenas	</td><td>	Bases Teóricas de la Nutrición Deportiva	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="L28FK"><td>	Daniel	</td><td>	Torres Correa	</td><td>	Bases Teóricas de la Nutrición Deportiva	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="UCJHN"><td>	Antonella Andrea	</td><td>	Rozales	</td><td>	Guía Práctica para el Armado de la Dieta	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="WGARA"><td>	Macarena	</td><td>	Sayi Liu Villegas	</td><td>	Guía Práctica para el Armado de la Dieta	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="LAF3E"><td>	Melani	</td><td>	Guerrero	</td><td>	Guía Práctica para el Armado de la Dieta	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="HVZEB"><td>	Ramiro Ezequiel	</td><td>	Fernandez	</td><td>	Guía Práctica para el Armado de la Dieta	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="QVJKN"><td>	Yraldis Maireth	</td><td>	Roa Chacon	</td><td>	Guía Práctica para el Armado de la Dieta	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="9PHZK"><td>	Sandra	</td><td>	Velásquez Montes	</td><td>	Guía Práctica para el Armado de la Dieta	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="MNJA4"><td>	Marlon	</td><td>	Estuardo	</td><td>	Guía Práctica para el Armado de la Dieta	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="K8ZQW"><td>	José María	</td><td>	De La Torre	</td><td>	Guía Práctica para el Armado de la Dieta	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="2DCH9"><td>	María Sol	</td><td>	Contreras	</td><td>	Guía Práctica para el Armado de la Dieta	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="9SQVC"><td>	Sergio Gustavo	</td><td>	Acosta	</td><td>	Guía Práctica para el Armado de la Dieta	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="ENA7R"><td>	Vanesa	</td><td>	Ceballos	</td><td>	Guía Práctica para el Armado de la Dieta	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="QF7QY"><td>	Karen Mirna Solange	</td><td>	Barros Carrasco	</td><td>	Guía Práctica para el Armado de la Dieta	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="7GEK7"><td>	Daniel	</td><td>	Torres Correa	</td><td>	Guía Práctica para el Armado de la Dieta	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="P5XNY"><td>	Cristofer	</td><td>	López	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="VVEXB"><td>	Virginia Raquel	</td><td>	Taa	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="CXRH6"><td>	Martina	</td><td>	Luciani	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="VYLPL"><td>	Sebastian	</td><td>	Rojas	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="4AXXZ"><td>	Nicole Camila	</td><td>	Fleming	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="TR3L4"><td>	Valentina	</td><td>	Leon	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="TFMVL"><td>	Daiana Elizabeth	</td><td>	Denaro	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="3BRHV"><td>	Javier	</td><td>	Arancibia	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="MKF2Y"><td>	Miguel Andres	</td><td>	Saucedo	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="HBL64"><td>	Antonella	</td><td>	Grattarola	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="YUZ52"><td>	Leticia	</td><td>	Bonin	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="JMF4H"><td>	Brian Yamil	</td><td>	Berri	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="A2ZEH"><td>	Brenda	</td><td>	Rader	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="UGEWM"><td>	Maria Belen	</td><td>	Goicochea	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="ASQSR"><td>	Marlon	</td><td>	Estuardo	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="R4WLS"><td>	Roger Alberto	</td><td>	Barreto Berrio	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="FF545"><td>	Iara	</td><td>	Fredes	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="WYLTM"><td>	Nahuel David	</td><td>	Gomez	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="77HSN"><td>	David Exequiel	</td><td>	Alomo	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="R9CL4"><td>	Agustina Fernanda	</td><td>	Hansen	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="JKF3V"><td>	Mariela	</td><td>	Monge	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="TWLGB"><td>	Cristofer	</td><td>	López	</td><td>	PRO Starter	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="3DS29"><td>	Maria Belen	</td><td>	Goicochea	</td><td>	PRO Starter	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="8CG32"><td>	Iara	</td><td>	Fredes	</td><td>	PRO Starter	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="YJQUQ"><td>	Alejandro	</td><td>	Nolla	</td><td>	PRO Cycle	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="4QFLG"><td>	Sebastian	</td><td>	Rojas	</td><td>	PRO Cycle	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="SSF7D"><td>	Nicole Camila	</td><td>	Fleming	</td><td>	PRO Cycle	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="QDGPW"><td>	Debora Soledad	</td><td>	Di Biase	</td><td>	PRO Cycle	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="Y25CU"><td>	David Exequiel	</td><td>	Alomo	</td><td>	PRO Cycle	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="B9CRF"><td>	Valentina	</td><td>	Leon	</td><td>	PRO Mix	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="MFQGD"><td>	Virginia Raquel	</td><td>	Taa	</td><td>	PRO Tonificación	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="XJQ9M"><td>	Brian Yamil	</td><td>	Berri	</td><td>	PRO Tonificación	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="SC3ZR"><td>	Brenda	</td><td>	Rader	</td><td>	PRO Tonificación	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="NWG4U"><td>	Brian Orlando	</td><td>	Meoño Morales	</td><td>	PRO Tonificación	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="SWVTV"><td>	Mariela	</td><td>	Monge	</td><td>	PRO Tonificación	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="X8B94"><td>	Antonella	</td><td>	Grattarola	</td><td>	PRO Flex	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="KKPJ9"><td>	José Manuel	</td><td>	Aguirre Pinzon	</td><td>	Anuncios en Facebook & Instagram	</td><td>	15 de Enero de 2021	</td></tr>
<tr style="display : none;" id="TXW8K"><td>	Pierre	</td><td>	Salas Saenz	</td><td>	Anuncios en Facebook & Instagram	</td><td>	15 de Enero de 2021	</td></tr>
<tr style="display : none;" id="8PQKE"><td>	Christian	</td><td>	Cardozo	</td><td>	Anuncios en Facebook & Instagram	</td><td>	15 de Enero de 2021	</td></tr>
<tr style="display : none;" id="UYHXM"><td>	Tomas	</td><td>	Alvarez	</td><td>	Anuncios en Facebook & Instagram	</td><td>	15 de Enero de 2021	</td></tr>
<tr style="display : none;" id="CTQ9A"><td>	Daniel	</td><td>	Martínez	</td><td>	Anuncios en Facebook & Instagram	</td><td>	15 de Enero de 2021	</td></tr>
<tr style="display : none;" id="QZWFN"><td>	Luis Daniel	</td><td>	Ramírez Morales	</td><td>	Anuncios en Facebook & Instagram	</td><td>	15 de Enero de 2021	</td></tr>
<tr style="display : none;" id="7654U"><td>	Andrea Yolanda	</td><td>	Gildemeister Rodriguez	</td><td>	Anuncios en Facebook & Instagram	</td><td>	15 de Enero de 2021	</td></tr>
<tr style="display : none;" id="KYHBR"><td>	Axel	</td><td>	Rogé Elizalde	</td><td>	Anuncios en Facebook & Instagram	</td><td>	15 de Enero de 2021	</td></tr>
<tr style="display : none;" id="Q6UEY"><td>	Luna	</td><td>	Nairivette Alvarado	</td><td>	Anuncios en Facebook & Instagram	</td><td>	15 de Enero de 2021	</td></tr>
<tr style="display : none;" id="3XTPS"><td>	Carlos	</td><td>	Bozo Molina	</td><td>	Anuncios en Facebook & Instagram	</td><td>	15 de Enero de 2021	</td></tr>
<tr style="display : none;" id="FB2U5"><td>	Patricio	</td><td>	Pérez Lucares	</td><td>	Anuncios en Facebook & Instagram	</td><td>	15 de Enero de 2021	</td></tr>
<tr style="display : none;" id="HS9CJ"><td>	Andrés Felipe	</td><td>	Bermudez Arrieta	</td><td>	Anuncios en Facebook & Instagram	</td><td>	15 de Enero de 2021	</td></tr>
<tr style="display : none;" id="US388"><td>	Juan Cruz	</td><td>	Caldez	</td><td>	Anuncios en Facebook & Instagram	</td><td>	15 de Enero de 2021	</td></tr>
<tr style="display : none;" id="XPAHD"><td>	Cristian Adrian	</td><td>	Ramos	</td><td>	Anuncios en Facebook & Instagram	</td><td>	15 de Enero de 2021	</td></tr>
<tr style="display : none;" id="BLDKZ"><td>	Maria Agustina	</td><td>	Oliver	</td><td>	Bases Teóricas de la Nutrición Deportiva	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="9Q3N3"><td>	Fabián	</td><td>	Silva Castillo	</td><td>	PRO Gap	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="9AJZR"><td>	Fabián	</td><td>	Silva Castillo	</td><td>	PRO Cycle	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="RL93B"><td>	Jennifer	</td><td>	Carballo	</td><td>	Cross Fitness de Alto Rendimiento	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="AU4QB"><td>	Jennifer	</td><td>	Carballo	</td><td>	Guía Práctica para el Armado de la Dieta	</td><td>	17 de Enero de 2021	</td></tr>
<tr style="display : none;" id="YD2NY"><td>	Joseph	</td><td>	Sequeira Fallas	</td><td>	Personal Trainer Level 1	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="LGKRW"><td>	Marcos	</td><td>	Novarese	</td><td>	Hiit, Alta Intensidad	</td><td>	16 de Enero de 2021	</td></tr>
<tr style="display : none;" id="9TPUV"><td>	Marcos	</td><td>	Novarese	</td><td>	Cross Fitness de Alto Rendimiento	</td><td>	17 de Enero de 2021	</td></tr>
