<!doctype html>
<html>

<head>
    <title>Lagunite</title>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/png" href="web/img/lagunite_iso_mini.png">

    <link type="text/css" rel="stylesheet" href="../src/lagunite-config.css" />
    <link type="text/css" rel="stylesheet" href="../src/lagunite.css" />
    <style>
        .vertical-line {
            border-left: 6px solid var(--main_color);
        }
    </style>


</head>


<body class="scrollable">
    <div class="row centered">
        <div class="circle">
            <h2>1</h2>
        </div>
    </div>
    <div class="row ">
        <div class="w30 ta-r">
            asdasda
        </div>

        <div class="vertical-line vh30 marg-h"></div>

        <div class="w30"> 1231231 asda asdas asd asasd asdasasdas asd asasd asdass asd asasd asdas ads23</div>
    </div>
    <div class="row centered">
        <div class="circle">
            <h2>2</h2>
        </div>
    </div>
    <div class="row ">
        <div class="w30 ta-r">
            asdasda
        </div>

        <div class="vertical-line vh30 marg-h"></div>

        <div class="w30"> 1231231 asda asdas asd asasd asdasasdas asd asasd asdass asd asasd asdas ads23</div>
    </div>
    <div class="row centered">
        <div class="circle">
            <h2>3</h2>
        </div>
    </div>
    <div class="separator-v"></div>
    <div class="row ">
        <div class="vertical-line vh10 marg-h"></div>
    </div>
    <div class="row centered">
        <div class="w30"> 1231231 asda asdas asd asasd asdasasdas asd asasd asdass asd asasd asdas ads23</div>
        <div class="circle  marg-h">
            <h2>1</h2>
        </div>
        <div class="w30"> 1231231 asda asdas asd asasd asdasasdas asd asasd asdass asd asasd asdas ads23</div>
    </div>
    <div class="row ">
        <div class="vertical-line vh10 marg-h"></div>
    </div>
    <div class="row centered">
        <div class="w30"> 1231231 asda asdas asd asasd asdasasdas asd asasd asdass asd asasd asdas ads23</div>
        <div class="circle  marg-h">
            <h2>2</h2>
        </div>
        <div class="w30"> 1231231 asda asdas asd asasd asdasasdas asd asasd asdass asd asasd asdas ads23</div>
    </div>
    <div class="row ">
        <div class="vertical-line vh10 marg-h"></div>
    </div>
    <div class="row centered">
        <div class="w30"> 1231231 asda asdas asd asasd asdasasdas asd asasd asdass asd asasd asdas ads23</div>
        <div class="circle  marg-h">
            <h2>3</h2>
        </div>
        <div class="w30"> 1231231 asda asdas asd asasd asdasasdas asd asasd asdass asd asasd asdas ads23</div>
    </div>

    <script src="../src/lagunite.js"></script>
    <script>
        window.addEventListener("load", function() {
            hidde('spinner')
        });
    </script>


</body></html>
