

/********************** Display Options ********************************************/

/* @ID: #090 */
/**** Display  ****/
.display-i {
    display: inline;
}

.display-ib {
    display: inline-block;
}

.display-f {
    display: flex;
}


@media only screen and (min-width : 281px) and (max-width : 767px) {
    .xdisplay-i {
        display: inline;
    }

    .xdisplay-ib {
        display: inline-block;
    }

    .xdisplay-f {
        display: flex;
    }

}

@media only screen and (min-width : 768px) {
    .ddisplay-i {
        display: inline;
    }

    .ddisplay-ib {
        display: inline-block;
    }

    .ddisplay-f {
        display: flex;
    }

}

/* @ID: #091 */
/* Display None */
@media only screen and (min-width : 281px) and (max-width : 767px) {
    .xhidden {
        display: none !important;
    }
}

@media only screen and (min-width : 768px) {
    .dhidden {
        display: none !important;
    }
}

.hidden {
    display: none !important;
}

