@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url("https://use.typekit.net/ztk4pwi.css");

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--background_body)
}


/***************************************/

/**************** STATIC *************/
button {
    border: none;
    background: none;
    cursor: pointer;

}

a {
    cursor: pointer;
}

a,
a:visited,
a:active,
a:enabled {
    text-decoration: none;
}

ul {
    list-style: none;
}


nav {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    width: 100%;
    z-index: 20;
}

/*************************************/


/************** COMMONS ***************/


html,
body {
    overflow-x: hidden;
    color: var(--text_color);
    font-family: var(--font_text);
}


body {
    width: 100%;
    height: 100%;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font_headers);
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    

}

h1 {
    font-size: 200%;
}

a,
a:visited,
a:active,
a:enabled {
    color: #000;
    text-decoration: none;
}

p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    padding: 0 15px;
    

}



.btn {
    box-shadow: none;
    border-radius: 10px;
    border: 2px solid 75px;
    background: var(--main_color);
    cursor: pointer;
    font-family: var(--font_headers);
    letter-spacing: 1px;
    margin: 1vh 1vw;
    color: #fff;
    padding: 10px 1vw;
    min-width: var(--size_xl);
    width: min-content;

    
    



}


.btn.no-bg {
    background: none;
    border: none;
}

.btn.alt {
    background: var(--main_color_alt);
    color: var(--main_color)
}

.btn.std {
    min-width: 140px;
}

.btn.fit {
    padding: 5px 8px;
}


.btn.big {
    font-size: 180%;
    padding: 15px 3vw;

}


.btn.big.std {
    min-width: 250px;
}

.btn.big.fit {}

.btn:hover {
    box-shadow: 0 0px 5px 1px var(--main_color);
}

/*********************************/


.actions {
    display: block;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


/************ HGROUPS ***************/

.hg-inline,
.hg-inline h1,
.hg-inline h2,
.hg-inline h3,
.hg-inline h4,
.hg-inline h5 {
    display: inline-block;
}



/*************** TEXT AND FONTS ***********/
.ta-c {
    text-align: center;
}
.ta-l {
    text-align: left;
}
.ta-r {
    text-align: right;
}

.font-xs {
    font-size: 70%;
}
.font-s {
    font-size: 85%;
}

/*************** MAIN ***************/
.main {

    width: 86vw;
    background: rgba(255, 255, 255, 0.95);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 25px;
    padding: 10vh 5vw;
    margin-top: 8vh;
    margin-bottom: 3vh;


}

/*************** SPINNER ***************/
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--backgound_gradient_5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}


.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
    margin-bottom: 25px;
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: var(--main_color);
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3) {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
    animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3):before {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
    animation-delay: -0.6s;
}

@keyframes sk-chase {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot {

    80%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4);
    }

    100%,
    0% {
        transform: scale(1.0);
    }
}



/************** NAV ******************/



.nav {
    font-size: 80%;
    padding: 7px 25px 3px 25px;
    z-index: 20;
    background: var(--main_color)
}

.nav.alt {
    background: none;
}

.nav img {
    max-height: 24px;
    max-width: 25vw;
}

.nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 14px;

}

.nav .container a {
    padding: 010px;
}


.nav-burger {
    background: var(--main_color);
    position: fixed;
    right: 0;
    padding: 10px 0 10px 10px;
    width: 50px;
    height: 30px;
    border-radius: 0 0 0 60px;


}

.nav-burger button {
    line-height: 0;
    padding: 0;
    margin: 0;
}

.nav-burger img {
    width: 30px;
    height: auto;
}


.menu-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--main_color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 5;
}

.menu-fullscreen li {
    padding: 15px 0;
    width: 100%;
    font-family: 'Oswald', sans-serif;

}







/***************************************/
section {
    display: block;
    white-space: nowrap;

}

section p {
    text-align: left;
    margin: 10px 0;

}



/***************************************/

.col {


    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
    


}



.row {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

/************* MOBILE/DESKTOP ***********/

.row-col,
.row-colr {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.col-row,
.col-rowr {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}







/*******************************************************/



.padd-xs {
    padding: var(--size_xs);
}

.padd-s {
    padding: var(--size_s);
}

.padd {
    padding: var(--size_m);
}

.padd-l {
    padding: var(--size_l);
}

.padd-xl {
    padding: var(--size_xl);
}


.padd-h-xs {
    padding-left: var(--size_xs);
    padding-right: var(--size_xs);
}

.padd-h-s {
    padding-left: var(--size_s);
    padding-right: var(--size_s);
}

.padd-h {
    padding-left: var(--size_m);
    padding-right: var(--size_m);
}

.padd-h-l {
    padding-left: var(--size_l);
    padding-right: var(--size_l);
}

.padd-h-xl {
    padding-left: var(--size_xl);
    padding-right: var(--size_xl);
}



.padd-v-xs {
    padding-top: var(--size_xs);
    padding-bottom: var(--size_xs);
}

.padd-v-s {
    padding-top: var(--size_s);
    padding-bottom: var(--size_s);
}

.padd-v {
    padding-top: var(--size_m);
    padding-bottom: var(--size_m);
}

.padd-v-l {
    padding-top: var(--size_l);
    padding-bottom: var(--size_l);
}

.padd-v-xl {
    padding-top: var(--size_xl);
    padding-bottom: var(--size_xl);
}


.padd-l-xs {
    padding-left: var(--size_xs);
}

.padd-r-xs {
    padding-right: var(--size_xs);
}

.padd-t-xs {
    padding-top: var(--size_xs);
}

.padd-b-xs {
    padding-bottom: var(--size_xs);
}


.padd-l-s {
    padding-left: var(--size_s);
}

.padd-r-s {
    padding-right: var(--size_s);
}

.padd-t-s {
    padding-top: var(--size_s);
}

.padd-b-s {
    padding-bottom: var(--size_s);
}


.padd-l-l {
    padding-left: var(--size_l);
}

.padd-r-l {
    padding-right: var(--size_l);
}

.padd-t-l {
    padding-top: var(--size_l);
}

.padd-b-l {
    padding-bottom: var(--size_l);
}



.padd-l-xl {
    padding-left: var(--size_xl);
}

.padd-r-xl {
    padding-right: var(--size_xl);
}

.padd-t-xl {
    padding-top: var(--size_xl);
}

.padd-b-xl {
    padding-bottom: var(--size_xl);
}



/*******************************************************/

.marg-xs {
    margin: var(--size_xs);
}

.marg-s {
    margin: var(--size_s);
}

.marg {
    margin: var(--size_m);
}

.marg-l {
    margin: var(--size_l);
}

.marg-xl {
    margin: var(--size_xl);
}



.marg-h-xs {
    margin-left: var(--size_xs);
    margin-right: var(--size_xs);
}

.marg-h-s {
    margin-left: var(--size_s);
    margin-right: var(--size_s);
}

.marg-h {
    margin-left: var(--size_m);
    margin-right: var(--size_m);
}

.marg-h-l {
    margin-left: var(--size_l);
    margin-right: var(--size_l);
}

.marg-h-xl {
    margin-left: var(--size_xl);
    margin-right: var(--size_xl);
}



.marg-v-xs {
    margin-top: var(--size_xs);
    margin-bottom: var(--size_xs);
}

.marg-v-s {
    margin-top: var(--size_s);
    margin-bottom: var(--size_s);
}

.marg-v {
    margin-top: var(--size_m);
    margin-bottom: var(--size_m);
}

.marg-v-l {
    margin-top: var(--size_l);
    margin-bottom: var(--size_l);
}

.marg-v-xl {
    margin-top: var(--size_xl);
    margin-bottom: var(--size_xl);
}

.marg-l {
    margin-left: var(--size_m);
}

.marg-r {
    margin-right: var(--size_m) !important;
}

.marg-t {
    margin-top: var(--size_m);
}

.marg-b {
    margin-bottom: var(--size_m);
}



.marg-l-xs {
    margin-left: var(--size_xs);
}

.marg-r-xs {
    margin-right: var(--size_xs);
}

.marg-t-xs {
    margin-top: var(--size_xs);
}

.marg-b-xs {
    margin-bottom: var(--size_xs);
}


.marg-l-s {
    margin-left: var(--size_s);
}

.marg-r-s {
    margin-right: var(--size_s);
}

.marg-t-s {
    margin-top: var(--size_s);
}

.marg-b-s {
    margin-bottom: var(--size_s);
}


.marg-l-l {
    margin-left: var(--size_l);
}

.marg-r-l {
    margin-right: var(--size_l);
}

.marg-t-l {
    margin-top: var(--size_l);
}

.marg-b-l {
    margin-bottom: var(--size_l);
}



.marg-l-xl {
    margin-left: var(--size_xl);
}

.marg-r-xl {
    margin-right: var(--size_xl);
}

.marg-t-xl {
    margin-top: var(--size_xl);
}

.marg-b-xl {
    margin-bottom: var(--size_xl);
}




/*******************************************************/

.sa {
    justify-content: space-around;
}


.centered {
    left: 0;
    right: 0;
    margin: auto;
}

.rel {
    position: relative;
}

.float-tr {
    position: absolute;
    top: 0;
    right: 0;
}

.float-tl {
    position: absolute;
    top: 0;
    left: 0;
}

.float-bl {
    position: absolute;
    bottom: 0;
    left: 0;
}

.float-br {
    position: absolute;
    bottom: 0;
    right: 0;



}

.float-bc {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;



}

.float-tc {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;


}

.float-cl {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;



}

.float-cr {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;


}






/*******************************************************/



/*************** INPUT ***************/
input,
textarea,
select {
    background: none;
    border: none;
    color: var(--text_color);
    border: var(--border);
    border-radius: var(--radius);
    text-align: center;
    cursor: pointer;

    line-height: 1.5;
    margin: 5px;

}


input:hover,
input:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
    box-shadow: 0 0 7px 1px var(--main_color);
    color: var(--main_color);
    font-weight: 600;
}


::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text_color);
    opacity: 0.5;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.inputContainer span {
    min-width: 100px;
    margin-right: 10px;
}

/***************************************/


pre {
    font-size: 15px;
}


/*******************SEPARATORS *****************/
.separator-h-s {
    height: 15px;
    content: ''
}

.separator-h-m, .separator-h {
    height: 25px;
    content: ''
}

.separator-h-l {
    height: var(--size_l);
    content: ''
}


/************** RADIO GROUP **************/
.radio-group {
    margin: 25px 0;
}

.radio-group input {
    position: absolute !important;
    clip-path: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;


}


.radio-group label {
    cursor: pointer;

}

.radio-group label {


    text-align: center;
    padding: 4px 12px;

    background: none;
    color: var(--main_color);
    border-color: var(--main_color);
    border-style: solid;
    border-width: 2px 2px 2px 0;
    margin-right: -5px;


}


.radio-group input:checked + label {
    background-color: var(--main_color);
    color: var(--text_color_alt);
    box-shadow: 0 0px 5px 0px var(--main_color);
}

.radio-group label:first-of-type {
    border-radius: 30px 0 0 30px;
    border-width: 2px;
}

.radio-group label:last-of-type {
    border-width: 2px 2px 2px 0;
    border-radius: 0 30px 30px 0;
}

/*************** CHECKBOX **************/


.checkbox {
    display: block;
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    user-select: none;
    text-align: left;
    line-height: 1.8;

}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 2px solid #2476FF;
    border-radius: 10px;


}

.checkmark:hover {
    box-shadow: 0 0 7px 1px var(--main_color);
}

.checkbox:hover input ~ .checkmark {
    background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
    background-color: #2476FF;
    box-shadow: 0 0 7px 1px #2476FF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 8px;
    top: 0px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkboxContainer {

    margin: 1vh;

    padding: 1vh 1vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*************** SELECT ***************/
/*************** SELECT ***************/
select {

    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 2px solid var(--text_color);
    border-radius: var(--radius);
    background: rgba(0, 0, 0, 0.7);
    background-image: none;
    min-width: 220px;
    height: 100%;
    margin: 0;
    padding: 6px 12px;
    color: #fff;
    cursor: pointer;
    background: none;

}

/* Custom Select */
.select {

    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    border-radius: var(--radius);
    margin: 0 20px;
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.12);
    min-width: 220px;
    width: 220px;


    margin: 0 auto;

}



select::-ms-expand {
    display: none;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
    background: none;
    color: var(--text_color);
    pointer-events: none;
    background: var(--main_color);
}

/* Transition */
.select:hover::after {
    color: #fff;
}

.select::after {
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;

}

.noselect {
    user-select: none;
    opacity: 0.5;
}



/*************** ICONS ***************/
.imgIcon {

    width: 1.1em;
    height: 1.1em;
    vertical-align: bottom;
    margin-bottom: 0.2em;
    padding: 0 6px;
}


/***************************************/

/*************** TABLE ***************/
table {
    border-collapse: collapse;
    margin: 30px 0;
    width: 100%;

}

caption {
    margin: 15px 0;
}

table,
th,
td {
    
    border: 1px solid #fff;
}

th {
    padding: 4px 0;
    cursor: pointer;

}

tr:hover {
    background-color: #f2f2f2;
}


td {
    padding: 10px 0;
}


.hoverable tr:hover {
    cursor: pointer;
    background: var(--main_color_light);
}

.hoverable td:hover {
    background: var(--main_color);
    color: var(--text_color_alt);
    font-weight: 900;

}



/***************************************/


/**************** COMMON BACKGROUNDS *********************/


.bg-1 {
    /* Background main color */
    background: var(--main_color) !important;
    color: var(--main_color_alt) !important;
}

.bg-2 {
    background: var(--main_color_light) !important;
    color: var(--main_color_alt) !important;
}

.bg-3 {
    background: var(--main_color_dark) !important;
    color: var(--main_color_alt) !important;
}


.bg-4 {
    background: var(--main_color_alt) !important;
    color: var(--main_color) !important;
}

.bg-5 {
    background: var(--main_color_alt) !important;
    color: var(--main_color) !important;
}


.bg-6 {
    background: var(--almost_black) !important;
    color: var(--almost_white) !important;
}


.bg-7 {
    background: var(--almost_white) !important;
    color: var(--almost_black) !important;
}


.bgg-1 {
    background: var(--background_gradient);
    color: var(--main_color_alt);
}

.bgg-2 {
    background: var(--background_gradient_2);
    color: var(--main_color_alt);
}


/***************************************/

.float-r {
    float: right;
}

.float-l {
    float: left;
}

.float-c {
    display: flex;
    align-self: center;
    justify-items: center;
    align-content: center;
    vertical-align: middle;
    height: 100%;
}




/*************** FLOAT BACKGROUND ***************/

.floatBackground {
    opacity: 0.2;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;


}

.floatBackground * {

    align-self: center;
}

/***************************************/


/****************  MODAL *********************/


.modalBackground {
    background: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
}

.modalBackground .close {
    color: #fff;
    font-size: 100px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 140px;
    margin: 0 50px 0 0;
    border: none;



}

.modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    height: 100%;

}

.modal h2 {
    color: var(--text_color);
}

.modal form {
    background: none;

}



/*************** LOGO ***************/



/***************************************/


/*************** CARDS ***************/
.cards {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.card {

    width: 20vw;
    border: var(--border);
    border-radius: var(--radius_max);
    padding: 10px 0;
    margin: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.card img {
    width: 20vw;
}

.card table {
    width: 100%;
    font-size: 120%;
}

.card tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.card tr:hover {
    background-color: #d2d2d2;
}

.card footer {}

/***************************************/


/*************** FULL WIDTH  ***************/

/*
.fullWidth {
    width: 100%;
    background: var(--main_color);
    color:  var(--main_color_alt);

    position: absolute;
    left: 0;
    padding: 15px 0;
    display: block;
    
    
    
        
}*/

.fullWidth {

    width: 100vw;
    margin-left: -7.5vw;
    background: var(--main_color);
    color: var(--main_color_alt);
    padding: 2 5px 0;
}


/**************** FIXED ******************/
.nav-fixed {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.footer-fixed {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 1.5rem;


}

/***************************************/
.boxes {
    position: relative;
}

.box {

    border-radius: 15px;
    width: 200px;
    top: 10px;

    border: 2px solid var(--main_color);
    ;
    padding: 10px 15px;
    margin: 10px;


}

.box header {
    text-align: left;

}

.box div {
    text-align: left;
    padding-left: 5px;
    margin: 10px;
    max-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;


}



.box footer {
    text-align: right;
    font-size: 70%;
    font-style: italic;

}




/**************  SCROLLBAR ***********************/

.scrollable {
    overflow-y: scroll;

}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;

}

.scrollbar::-webkit-scrollbar {
    width: 6px;

    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000;
}

/************** / SCROLLBAR ***********************/


/************** PANEL ******************************/

aside {
    background: #E83026;

    position: absolute;
    top: 25px;
    left: 20px;
    padding: 10px;
    border-radius: 15px;
    bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside div {
    display: flex;
    flex-direction: column;
}

aside button {
    padding: 5px;
}

aside img {
    max-width: 30px;
}


aside button .tooltiptext {
    visibility: hidden;
    width: 120px;
    background: #E83026;
    position: absolute;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    left: 150%;
    top: 10px;
    position: absolute;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

aside button:hover .tooltiptext {
    visibility: visible;


}


/************** AVATARS *****************/
.avatar {
    border-radius: 50%;
    width: 100px;
}

.avatar.alt {
    border-radius: 35%;

}

.avatar.big {
    width: 200px;
}

.avatar.small {
    width: 50px;
}

.avatar.micro {
    width: 30px;
}

/************** GRADIENT BORDER ***********/


/************** FIGURES ****************/


.square,
.rounded,
.circle,
.tear,
.square-s,
.rounded-s,
.circle-s,
.tear-s,
.square-l,
.rounded-l,
.circle-l,
.tear-l {
    background: var(--main_color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text_color_alt);
}


.square-s,
.rounded-s,
.circle-s,
.tear-s {
    min-width: 25px;
    min-height: 25px;
}

.square,
.rounded,
.circle,
.tear {
    min-width: 50px;
    min-height: 50px;
}

.square-l,
.rounded-l,
.circle-l,
.tear-l {
    min-width: 75px;
    min-height: 75px;
}

.rounded-s {
    border-radius: 10px;
}

.rounded {
    border-radius: 20px;
}

.rounded-l {
    border-radius: 30px;
}

.circle,
.circle-s,
.circle-l {
    border-radius: 50%;
}

.tear,
.tear-s,
.tear-l {
    border-radius: 50% 0 50% 50%;
}

.square,
.square-s,
.square-l {
    border-radius: 5px;
}


.triangle,
.triangle-s,
.triangle-l {
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text_color_alt);
    border-radius: 5px;
}

.triangle {

    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
    border-bottom: 46px solid var(--main_color);

}

.triangle-s {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid var(--main_color);
}

.triangle-l {
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    border-bottom: 88px solid var(--main_color);
}






/************** CHIPS *****************/



.chip {
    border: 1px solid var(--main_color);
    border-radius: 30px;
    display: flex;
    color: var(--main_color);
    padding: 3px 3px;
    margin: 5px;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.chip * {
    margin: 0 5px;
}

/********/

.chip.vertical {

    flex-direction: column;
    min-width: 0px;
    height: fit-content;

}

.chip.vertical * {

    margin: 0;

}

/********/
.chip.expandable .content {
    overflow: hidden;
    margin: 0;
    width: 0;
    transition: all 0.5s ease-in-out;
    transform-origin: left;
    transform: scaleX(0);
}

.chip.expandable:hover .content {


    width: auto;
    transition: all 0.2s ease-in-out;
    transform: scaleX(1);

}

/********/



.chip.vertical.expandable .content {
    overflow: hidden;
    margin: 0;
    height: 0;
    transition: all 0.5s ease-in-out;
    transform-origin: top;
    transform: scaleY(0);
}

.chip.vertical.expandable:hover .content {


    height: auto;
    transition: all 0.2s ease-in-out;
    transform: scaleY(1);

}


/*************** ACTIONS ***************/

/* Put your action here */
/* For example width */
.onclick {
    width: 100px;
}

.onclick:active {
    transition: width .35s ease-in-out;
    width: 300px;
}





/*************** SCREENS ***************/

@media only screen and (min-width : 281px) and (max-width : 767px) {
    table {
        font-size: 70%;
    }

    .d-hidden {
        display: block;
    }

    .x-hidden {
        display: none;
    }

    .x-centered {
        text-align: center;
        justify-content: center;
    }

}

@media only screen and (min-width : 768px) {

    .row-col {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
    }

    .col-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .row-colr {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
        justify-content: center;
        text-align: center;
    }

    .col-rowr {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

    }




    .nav {
        display: block;
    }

    .nav-burger {
        display: none;
    }

    .social-float {
        right: 10px;
    }



    .d-hidden {
        display: none;
    }

    .x-hidden {
        display: block;
    }


}

/**************************************/

.maxw1 {
    max-width: var(--max_width_1)
}
.maxw2 {
        max-width: var(--max_width_2)
}
.maxw3 {
        max-width: var(--max_width_3)
}
.maxw4 {
        max-width: var(--max_width_4)
}
.maxw5 {
    max-width: var(--max_width_5)
}
.maxw6 {
        max-width: var(--max_width_6)
}



/**************************************/
.vh10 {
    height: 10vh
}

.vh20 {
    height: 20vh
}

.vh30 {
    height: 30vh
}

.vh40 {
    height: 40vh
}

.vh50 {
    height: 50vh
}

.vh60 {
    height: 60vh
}

.vh70 {
    height: 70vh
}

.vh80 {
    height: 80vh
}

.vh90 {
    height: 90vh
}

.vh100 {
    height: 100vh
}

/**************************************/

.vw10 {
    width: 10vw
}


.vw20 {
    width: 20vw
}

.vw30 {
    width: 30vw
}

.vw40 {
    width: 40vw
}

.vw50 {
    width: 50vw
}

.vw60 {
    width: 60vw
}

.vw70 {
    width: 70vw
}

.vw80 {
    width: 80vw
}

.vw90 {
    width: 90vw
}

.vw100 {
    width: 100vw
}


/************************************/


/************************************/

@media only screen and (min-width : 768px) {

    .w0 {
        width: 0%
    }

    .w1 {
        width: 1%
    }

    .w2 {
        width: 2%
    }

    .w3 {
        width: 3%
    }

    .w4 {
        width: 4%
    }

    .w5 {
        width: 5%
    }

    .w6 {
        width: 6%
    }

    .w7 {
        width: 7%
    }

    .w8 {
        width: 8%
    }

    .w9 {
        width: 9%
    }

    .w10 {
        width: 10%
    }

    .w11 {
        width: 11%
    }

    .w12 {
        width: 12%
    }

    .w13 {
        width: 13%
    }

    .w14 {
        width: 14%
    }

    .w15 {
        width: 15%
    }

    .w16 {
        width: 16%
    }

    .w17 {
        width: 17%
    }

    .w18 {
        width: 18%
    }

    .w19 {
        width: 19%
    }

    .w20 {
        width: 20%
    }

    .w21 {
        width: 21%
    }

    .w22 {
        width: 22%
    }

    .w23 {
        width: 23%
    }

    .w24 {
        width: 24%
    }

    .w25 {
        width: 25%
    }

    .w26 {
        width: 26%
    }

    .w27 {
        width: 27%
    }

    .w28 {
        width: 28%
    }

    .w29 {
        width: 29%
    }

    .w30 {
        width: 30%;
    }

    .w31 {
        width: 31%
    }

    .w32 {
        width: 32%
    }

    .w33 {
        width: 33%
    }

    .w34 {
        width: 34%
    }

    .w35 {
        width: 35%
    }

    .w36 {
        width: 36%
    }

    .w37 {
        width: 37%
    }

    .w38 {
        width: 38%
    }

    .w39 {
        width: 39%
    }

    .w40 {
        width: 40%
    }

    .w41 {
        width: 41%
    }

    .w42 {
        width: 42%
    }

    .w43 {
        width: 43%
    }

    .w44 {
        width: 44%
    }

    .w45 {
        width: 45%
    }

    .w46 {
        width: 46%
    }

    .w47 {
        width: 47%
    }

    .w48 {
        width: 48%
    }

    .w49 {
        width: 49%
    }

    .w50 {
        width: 50%
    }

    .w51 {
        width: 51%
    }

    .w52 {
        width: 52%
    }

    .w53 {
        width: 53%;
    }

    .w54 {
        width: 54%
    }

    .w55 {
        width: 55%
    }

    .w56 {
        width: 56%
    }

    .w57 {
        width: 57%
    }

    .w58 {
        width: 58%
    }

    .w59 {
        width: 59%
    }

    .w60 {
        width: 60%
    }

    .w61 {
        width: 61%
    }

    .w62 {
        width: 62%
    }

    .w63 {
        width: 63%
    }

    .w64 {
        width: 64%
    }

    .w65 {
        width: 65%
    }

    .w66 {
        width: 66%
    }

    .w67 {
        width: 67%
    }

    .w68 {
        width: 68%
    }

    .w69 {
        width: 69%
    }

    .w70 {
        width: 70%
    }

    .w71 {
        width: 71%
    }

    .w72 {
        width: 72%
    }

    .w73 {
        width: 73%
    }

    .w74 {
        width: 74%
    }

    .w75 {
        width: 75%
    }

    .w76 {
        width: 76%
    }

    .w77 {
        width: 77%
    }

    .w78 {
        width: 78%
    }

    .w79 {
        width: 79%
    }

    .w80 {
        width: 80%
    }

    .w81 {
        width: 81%
    }

    .w82 {
        width: 82%
    }

    .w83 {
        width: 83%
    }

    .w84 {
        width: 84%
    }

    .w85 {
        width: 85%
    }

    .w86 {
        width: 86%
    }

    .w87 {
        width: 87%
    }

    .w88 {
        width: 88%
    }

    .w89 {
        width: 89%
    }

    .w90 {
        width: 90%
    }

    .w91 {
        width: 91%
    }

    .w92 {
        width: 92%
    }

    .w93 {
        width: 93%
    }

    .w94 {
        width: 94%
    }

    .w95 {
        width: 95%
    }

    .w96 {
        width: 96%
    }

    .w97 {
        width: 97%
    }

    .w98 {
        width: 98%
    }

    .w99 {
        width: 99%
    }

    .w100 {
        width: 100%
    }

    /******************************************/

    .h0 {
        height: 0%
    }

    .h1 {
        height: 1%
    }

    .h2 {
        height: 2%
    }

    .h3 {
        height: 3%
    }

    .h4 {
        height: 4%
    }

    .h5 {
        height: 5%
    }

    .h6 {
        height: 6%
    }

    .h7 {
        height: 7%
    }

    .h8 {
        height: 8%
    }

    .h9 {
        height: 9%
    }

    .h10 {
        height: 10%
    }

    .h11 {
        height: 11%
    }

    .h12 {
        height: 12%
    }

    .h13 {
        height: 13%
    }

    .h14 {
        height: 14%
    }

    .h15 {
        height: 15%
    }

    .h16 {
        height: 16%
    }

    .h17 {
        height: 17%
    }

    .h18 {
        height: 18%
    }

    .h19 {
        height: 19%
    }

    .h20 {
        height: 20%;

    }

    .h21 {
        height: 21%
    }

    .h22 {
        height: 22%
    }

    .h23 {
        height: 23%
    }

    .h24 {
        height: 24%
    }

    .h25 {
        height: 25%
    }

    .h26 {
        height: 26%
    }

    .h27 {
        height: 27%
    }

    .h28 {
        height: 28%
    }

    .h29 {
        height: 29%
    }

    .h30 {
        height: 30%
    }

    .h31 {
        height: 31%
    }

    .h32 {
        height: 32%
    }

    .h33 {
        height: 33%
    }

    .h34 {
        height: 34%
    }

    .h35 {
        height: 35%
    }

    .h36 {
        height: 36%
    }

    .h37 {
        height: 37%
    }

    .h38 {
        height: 38%
    }

    .h39 {
        height: 39%
    }

    .h40 {
        height: 40%
    }

    .h41 {
        height: 41%
    }

    .h42 {
        height: 42%
    }

    .h43 {
        height: 43%
    }

    .h44 {
        height: 44%
    }

    .h45 {
        height: 45%
    }

    .h46 {
        height: 46%
    }

    .h47 {
        height: 47%
    }

    .h48 {
        height: 48%
    }

    .h49 {
        height: 49%
    }

    .h50 {
        height: 50%
    }

    .h51 {
        height: 51%
    }

    .h52 {
        height: 52%
    }

    .h53 {
        height: 53%
    }

    .h54 {
        height: 54%
    }

    .h55 {
        height: 55%
    }

    .h56 {
        height: 56%
    }

    .h57 {
        height: 57%
    }

    .h58 {
        height: 58%
    }

    .h59 {
        height: 59%
    }

    .h60 {
        height: 60%
    }

    .h61 {
        height: 61%
    }

    .h62 {
        height: 62%
    }

    .h63 {
        height: 63%
    }

    .h64 {
        height: 64%
    }

    .h65 {
        height: 65%
    }

    .h66 {
        height: 66%
    }

    .h67 {
        height: 67%
    }

    .h68 {
        height: 68%
    }

    .h69 {
        height: 69%
    }

    .h70 {
        height: 70%
    }

    .h71 {
        height: 71%
    }

    .h72 {
        height: 72%
    }

    .h73 {
        height: 73%
    }

    .h74 {
        height: 74%
    }

    .h75 {
        height: 75%
    }

    .h76 {
        height: 76%
    }

    .h77 {
        height: 77%
    }

    .h78 {
        height: 78%
    }

    .h79 {
        height: 79%
    }

    .h80 {
        height: 80%
    }

    .h81 {
        height: 81%
    }

    .h82 {
        height: 82%
    }

    .h83 {
        height: 83%
    }

    .h84 {
        height: 84%
    }

    .h85 {
        height: 85%
    }

    .h86 {
        height: 86%
    }

    .h87 {
        height: 87%
    }

    .h88 {
        height: 88%
    }

    .h89 {
        height: 89%
    }

    .h90 {
        height: 90%
    }

    .h91 {
        height: 91%
    }

    .h92 {
        height: 92%
    }

    .h93 {
        height: 93%
    }

    .h94 {
        height: 94%
    }

    .h95 {
        height: 95%
    }

    .h96 {
        height: 96%
    }

    .h97 {
        height: 97%
    }

    .h98 {
        height: 98%
    }

    .h99 {
        height: 99%
    }

    .h100 {
        height: 100%
    }

}

/************************************/
@media only screen and (min-width : 281px) and (max-width : 767px) {
    .xw0 {
        width: 0%
    }

    .xw1 {
        width: 1%
    }

    .xw2 {
        width: 2%
    }

    .xw3 {
        width: 3%
    }

    .xw4 {
        width: 4%
    }

    .xw5 {
        width: 5%
    }

    .xw6 {
        width: 6%
    }

    .xw7 {
        width: 7%
    }

    .xw8 {
        width: 8%
    }

    .xw9 {
        width: 9%
    }

    .xw10 {
        width: 10%
    }

    .xw11 {
        width: 11%
    }

    .xw12 {
        width: 12%
    }

    .xw13 {
        width: 13%
    }

    .xw14 {
        width: 14%
    }

    .xw15 {
        width: 15%
    }

    .xw16 {
        width: 16%
    }

    .xw17 {
        width: 17%
    }

    .xw18 {
        width: 18%
    }

    .xw19 {
        width: 19%
    }

    .xw20 {
        width: 20%
    }

    .xw21 {
        width: 21%
    }

    .xw22 {
        width: 22%
    }

    .xw23 {
        width: 23%
    }

    .xw24 {
        width: 24%
    }

    .xw25 {
        width: 25%
    }

    .xw26 {
        width: 26%
    }

    .xw27 {
        width: 27%
    }

    .xw28 {
        width: 28%
    }

    .xw29 {
        width: 29%
    }

    .xw30 {
        width: 30%;
    }

    .xw31 {
        width: 31%
    }

    .xw32 {
        width: 32%
    }

    .xw33 {
        width: 33%
    }

    .xw34 {
        width: 34%
    }

    .xw35 {
        width: 35%
    }

    .xw36 {
        width: 36%
    }

    .xw37 {
        width: 37%
    }

    .xw38 {
        width: 38%
    }

    .xw39 {
        width: 39%
    }

    .xw40 {
        width: 40%
    }

    .xw41 {
        width: 41%
    }

    .xw42 {
        width: 42%
    }

    .xw43 {
        width: 43%
    }

    .xw44 {
        width: 44%
    }

    .xw45 {
        width: 45%
    }

    .xw46 {
        width: 46%
    }

    .xw47 {
        width: 47%
    }

    .xw48 {
        width: 48%
    }

    .xw49 {
        width: 49%
    }

    .xw50 {
        width: 50%
    }

    .xw51 {
        width: 51%
    }

    .xw52 {
        width: 52%
    }

    .xw53 {
        width: 53%;
    }

    .xw54 {
        width: 54%
    }

    .xw55 {
        width: 55%
    }

    .xw56 {
        width: 56%
    }

    .xw57 {
        width: 57%
    }

    .xw58 {
        width: 58%
    }

    .xw59 {
        width: 59%
    }

    .xw60 {
        width: 60%
    }

    .xw61 {
        width: 61%
    }

    .xw62 {
        width: 62%
    }

    .xw63 {
        width: 63%
    }

    .xw64 {
        width: 64%
    }

    .xw65 {
        width: 65%
    }

    .xw66 {
        width: 66%
    }

    .xw67 {
        width: 67%
    }

    .xw68 {
        width: 68%
    }

    .xw69 {
        width: 69%
    }

    .xw70 {
        width: 70%
    }

    .xw71 {
        width: 71%
    }

    .xw72 {
        width: 72%
    }

    .xw73 {
        width: 73%
    }

    .xw74 {
        width: 74%
    }

    .xw75 {
        width: 75%
    }

    .xw76 {
        width: 76%
    }

    .xw77 {
        width: 77%
    }

    .xw78 {
        width: 78%
    }

    .xw79 {
        width: 79%
    }

    .xw80 {
        width: 80%
    }

    .xw81 {
        width: 81%
    }

    .xw82 {
        width: 82%
    }

    .xw83 {
        width: 83%
    }

    .xw84 {
        width: 84%
    }

    .xw85 {
        width: 85%
    }

    .xw86 {
        width: 86%
    }

    .xw87 {
        width: 87%
    }

    .xw88 {
        width: 88%
    }

    .xw89 {
        width: 89%
    }

    .xw90 {
        width: 90%
    }

    .xw91 {
        width: 91%
    }

    .xw92 {
        width: 92%
    }

    .xw93 {
        width: 93%
    }

    .xw94 {
        width: 94%
    }

    .xw95 {
        . width: 95%
    }

    .xw96 {
        width: 96%
    }

    .xw97 {
        width: 97%
    }

    .xw98 {
        width: 98%
    }

    .xw99 {
        width: 99%
    }

    .xw100 {
        width: 100%
    }

    /*********************************/

    .xh0 {
        height: 0%
    }

    .xh1 {
        height: 1%
    }

    .xh2 {
        height: 2%
    }

    .xh3 {
        height: 3%
    }

    .xh4 {
        height: 4%
    }

    .xh5 {
        height: 5%
    }

    .xh6 {
        height: 6%
    }

    .xh7 {
        height: 7%
    }

    .xh8 {
        height: 8%
    }

    .xh9 {
        height: 9%
    }

    .xh10 {
        height: 10%
    }

    .xh11 {
        height: 11%
    }

    .xh12 {
        height: 12%
    }

    .xh13 {
        height: 13%
    }

    .xh14 {
        height: 14%
    }

    .xh15 {
        height: 15%
    }

    .xh16 {
        height: 16%
    }

    .xh17 {
        height: 17%
    }

    .xh18 {
        height: 18%
    }

    .xh19 {
        height: 19%
    }

    .xh20 {
        height: 20%;

    }

    .xh21 {
        height: 21%
    }

    .xh22 {
        height: 22%
    }

    .xh23 {
        height: 23%
    }

    .xh24 {
        height: 24%
    }

    .xh25 {
        height: 25%
    }

    .xh26 {
        height: 26%
    }

    .xh27 {
        height: 27%
    }

    .xh28 {
        height: 28%
    }

    .xh29 {
        height: 29%
    }

    .xh30 {
        height: 30%
    }

    .xh31 {
        height: 31%
    }

    .xh32 {
        height: 32%
    }

    .xh33 {
        height: 33%
    }

    .xh34 {
        height: 34%
    }

    .xh35 {
        height: 35%
    }

    .xh36 {
        height: 36%
    }

    .xh37 {
        height: 37%
    }

    .xh38 {
        height: 38%
    }

    .xh39 {
        height: 39%
    }

    .xh40 {
        height: 40%
    }

    .xh41 {
        height: 41%
    }

    .xh42 {
        height: 42%
    }

    .xh43 {
        height: 43%
    }

    .xh44 {
        height: 44%
    }

    .xh45 {
        height: 45%
    }

    .xh46 {
        height: 46%
    }

    .xh47 {
        height: 47%
    }

    .xh48 {
        height: 48%
    }

    .xh49 {
        height: 49%
    }

    .xh50 {
        height: 50%
    }

    .xh51 {
        height: 51%
    }

    .xh52 {
        height: 52%
    }

    .xh53 {
        height: 53%
    }

    .xh54 {
        height: 54%
    }

    .xh55 {
        height: 55%
    }

    .xh56 {
        height: 56%
    }

    .xh57 {
        height: 57%
    }

    .xh58 {
        height: 58%
    }

    .xh59 {
        height: 59%
    }

    .xh60 {
        height: 60%
    }

    .xh61 {
        height: 61%
    }

    .xh62 {
        height: 62%
    }

    .xh63 {
        height: 63%
    }

    .xh64 {
        height: 64%
    }

    .xh65 {
        height: 65%
    }

    .xh66 {
        height: 66%
    }

    .xh67 {
        height: 67%
    }

    .xh68 {
        height: 68%
    }

    .xh69 {
        height: 69%
    }

    .xh70 {
        height: 70%
    }

    .xh71 {
        height: 71%
    }

    .xh72 {
        height: 72%
    }

    .xh73 {
        height: 73%
    }

    .xh74 {
        height: 74%
    }

    .xh75 {
        height: 75%
    }

    .xh76 {
        height: 76%
    }

    .xh77 {
        height: 77%
    }

    .xh78 {
        height: 78%
    }

    .xh79 {
        height: 79%
    }

    .xh80 {
        height: 80%
    }

    .xh81 {
        height: 81%
    }

    .xh82 {
        height: 82%
    }

    .xh83 {
        height: 83%
    }

    .xh84 {
        height: 84%
    }

    .xh85 {
        height: 85%
    }

    .xh86 {
        height: 86%
    }

    .xh87 {
        height: 87%
    }

    .xh88 {
        height: 88%
    }

    .xh89 {
        height: 89%
    }

    .xh90 {
        height: 90%
    }

    .xh91 {
        height: 91%
    }

    .xh92 {
        height: 92%
    }

    .xh93 {
        height: 93%
    }

    .xh94 {
        height: 94%
    }

    .xh95 {
        height: 95%
    }

    .xh96 {
        height: 96%
    }

    .xh97 {
        height: 97%
    }

    .xh98 {
        height: 98%
    }

    .xh99 {
        height: 99%
    }

    .xh100 {
        height: 100%
    }

}

.hidden {
    display: none;
}
