@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url("https://use.typekit.net/ztk4pwi.css");
/*************** VARIABLES ***************/

:root {

    --text_color: #333;
    --text_color_alt: #FFF;



    --border: 2px solid #2476FF;


    --main_color: #2476FF;
    --main_color_rgb: 36,118,255;
    --main_color_alt: #FFF;
    --main_color_light: #5E9AFF;
    --main_color_dark: #0965FF;


    --almost_black: #333;
    --almost_white: #FCFCFC;

    --color_success: #98FF98;
    --color_error: #FF6961;
    --color_warning: #EC7C26;

    --background_body: #EEE;

    --background_1: #2476FF;
    --background_gradient_1: linear-gradient(0deg, #2476FF 0%, #5E9AFF 100%);
    --background_2: #5E9AFF;
    --background_gradient_2: linear-gradient(0deg, #FFF 0%, #5E9AFF 100%);
    --background_3: #0965FF;
    --background_gradient_3: linear-gradient(0deg, #0965FF 0%, #2476FF 100%);

    --backgound_gradient_4: radial-gradient(circle, rgba(94, 154, 255, 1) 0%, rgba(36, 118, 255, 1) 100%);
    --backgound_gradient_5: radial-gradient(circle, rgba(238, 238, 238, 1) 0%, rgba(193, 216, 255, 1) 100%);



    --size_xs: 5px;
    --size_s: 10px;
    --size_m: 25px;
    --size_l: 50px;
    --size_xl: 75px;
    
    
    --break_width : 50px;
    --break_height : 30px;




    --radius: 6px;
    --radius_out: 36px;
    --radius_in: 30px;

    --radius_s: 3px;
    --radius_l: 25px;


    --font_headers: 'muli', sans-serif;
    --font_text: 'PT Sans', sans-serif;



}
